Django==1.4.2
Fabric==1.5.0
MySQL-python==1.2.4
Pillow==1.7.7
amqplib==1.0.2
anyjson==0.3.3
argparse==1.2.1
balanced==0.9.0
billiard==2.7.3.17
boto==2.6.0
celery==3.0.11
certifi==0.0.8
chardet==1.0.1
django-celery==3.0.11
django-storages==1.1.5
ipdb==0.7
ipython==0.13.1
iso8601==0.1.4
kombu==2.4.7
mock==0.8.0
paramiko==1.9.0
pycrypto==2.6
python-dateutil==1.5
pytz==2012g
requests==0.13.2
simplejson==2.3.2
ssh==1.7.14
virtualenv==1.6.4
wsgiref==0.1.2
