{% extends 'base_email.html' %}

{% block subject %}
{{ job.skaa.nickname }} has requested a refund.
{% endblock %}

{% block plain %}
Bad news. {{ job.skaa.nickname }} has requested a refund on job #{{ job.id }}. We're disappointed too.

The user got to see a watermarked version of your work, but they will never receive your original.

You can check on your jobs here:
  {{ request.SITE_URL }}{% url 'doc_job_page' %}

And you can look for new jobs here:
  {{ request.SITE_URL }}{% url 'new_job_page' %}
{% endblock %}

{% block html %}
Bad news. {{ job.skaa.nickname }} has requested a refund on job #{{ job.id }}. We're disappointed too.<br/><br/>

The user got to see a watermarked version of your work, but they will never receive your original.<br/><br/>

You can check on your jobs <a href="{{ request.SITE_URL }}{% url 'doc_job_page' %}">here</a>, and you can look for new jobs <a href="{{ request.SITE_URL }}{% url 'new_job_page' %}">here</a>.<br/><br/>
{% endblock %}

