{% extends 'base.html' %}

{% block navpills %}
{# Leave no navigation pills up top #}
{% endblock %}

{% block bottomlinks %}
{# Leave no bottomlinks #}
{% endblock %}

{% block main %}

<div class="landing landing_page">
  <div class="row">
    <h1 class="header">Family Photo Retouching</h1>
    <h4 class="header">Save money. Have a friend take your family photos, and we'll help you find someone to make them look professional.</h4>
  </div>

  <div class="row" >
    <div id="family_photo" class="span12 small_photo">
      <div class="positioner" style="left: 20px; top: 50px;">
        <div class="hero-unit">
          <h3>Family Photo Retouching</h3>
          <ul>
            <li>Don't pay until you're happy</li>
            <li>Prompt results</li>
          </ul>
          <p>
            <a id="upload_button" class="btn btn-primary btn-large" href="/upload/">Upload a Picture »</a>
            <a class="btn btn-large" href="/howitworks/">Learn More »</a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    &nbsp; {# spacing #}
  </div>

  {% include 'landing-instructions.html' %}

</div>

{% endblock %}

{% block scripts %}
{% endblock %}

