{% extends 'base.html' %}

{% block navpills %}
  {# Leave no navigation pills up top #}
{% endblock %}

{% block bottomlinks %}
  {# Leave no bottomlinks #}
{% endblock %}

{% block main %}

<div class="landing_page">

  <div class="row">
    <div class="span8">
      <img src="{{ STATIC_URL }}images/restoration_after.jpg">
    </div>
    <div class="span4">
      <h3>heading</h3>
      <p>
      lorem ipsum
      </p>
    </div>
  </div>

</div>

{% endblock %}

{% block scripts %}
{% endblock %}

