@import "../bootstrap_less/variables.less";

/*****************************
  All pages
******************************/
.navbar {
  .container {
    position:relative;
  }
  .logo {
    float: left;
    padding: 4px;
    margin-left: 8px;
    cursor: pointer;
    img {
      margin-right: 4px;
    }
    a:hover {
      text-decoration: none;
    }
  }
  .pills {
    position: absolute;
    right: 0;
  }
  h2 {
    display: inline;
    vertical-align: top;
  }

  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  overflow: visible;
}

.details {
  .icon {
    float: left;
    margin-right: 20px;
    height: 40px;
  }
}

/*****************************
  Upload page
******************************/
#isocontainer {
  position: relative;
  border-style: dashed;
  border-color: #999;
  border-width: 3px;
  border-radius: 5px;
  margin: 0px;
  padding: 10px; /* This needs to match BorderGroups.padding */

  img {
    /* Don't allow accidental selection */
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
  }

  /*
  .rounded {
    margin: 0px;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
  }
  */

  .pic_container {
    padding: 6px;
    text-align: center;
    border-radius: 5px;
    margin: 2px;
    position: relative;
    /*border-style: solid;*/

    .preview {
      display: block;
      vertical-align : middle;
    }

    .pic_info span {
      padding: 5px;
      display: none;
    }

    .del_pic {
      position: absolute;
      right: 6px;
      top: 6px;
      display: none;
    }
  }

  .selected {
    background-color: #1D8CDB;
  }

  .group_border {
    border-radius: 5px;
    border-width: 1px;
    margin: 0px;
    border-style: solid;
    border-color: blue;
    position: absolute;
  }

  .upload_error {
    /* What does a pic_container look like when it has an error? */
    background-color: red;
    color: white;
  }

  .instructions {
    padding-top: 70px;
    h1, h2, h3, h4 {
      color: #777777;
      text-align: center;
    }
  }
  
  .invisible {
    visibility: hidden;
  }

}

.fileupload-addbutton {
  position: relative;
  display: block;
  overflow: hidden;
  //cursor: pointer;
  padding: 9px 14px;
  cursor: pointer;

  input {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    height: 100%;
    width: auto;
    cursor: pointer;
    border: solid transparent;
    border-width: 0 0 100px 200px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
}

.fileupload-buttonbar {
  /*
  position: relative;
  clear: both;
  div.fileinput-button {
    #addpics, input {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  a {
    margin: 6px;
  }
  */
}

.doc_pics{
  margin-top: 10px;
  margin-bottom: 10px
}

.doc_pic_container{
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: default;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid #292929;
  outline: 5px solid #e3e3e3;
}
/*****************************
  Markup page
******************************/
#markup_app {
  .markup_outer {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    .markup_pic_container {

      /* Do not, under any circumstances, change the padding or margin
         of this .markup_pic_container or .pic unless you are 200% certain
         you aren't messing things up. Careful calculation of offsets
         for drawing markups at the right location is done, and if you
         change them, old markups might appear at the wrong spot */
      display: block;
      position: relative;
      cursor: crosshair;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -o-user-select: none;
      user-select: none;

      margin-left: auto;
      margin-right: auto;
    }

    .markup_desc_container {
      margin-top: 5px;
      margin-bottom: 20px;
      margin-left: 20px;
      margin-right: auto;
      .markup_desc {
        .desc_title {
          border-radius: 6px;
          box-shadow: 0 0 10px 1px @grayLighter;
          display:inline;
          white-space:nowrap;
          padding-left: 4px;
          padding-right: 4px;
        }
        .desc {
          margin-top: 5px;
          margin-bottom: 10px;
          width: 700px;
         /* height: 55px;*/
          max-width: 700px;
          display:block;
          margin-left: 40px;
        }
      }
    }
  }
  h1, h2, h3, h4 {
    color: inherit;
    text-align: center;
  }
}

.markup_h2_header {
  /* I want this to be as wide as the picture, which is 800px. The well padding
     (site wide) is 19px, so our width is
       800 - 19*2 = 762
   */

  width:762px;
}

/*****************************
  Job page
******************************/
.job_page{
  .job_header_row {
    text-align:left;
  }
  .job_row {
    border-top: 1px solid #049cdb;
    padding:1px;
    vertical-align:middle;//vertical-align sucks
    text-align:left;
    //force row height big enough to contain the pic carousel and max pic size
    height:80px;
  }
  .alert_section
  {
    background-color:red;
    border: black solid 2px;
    display:none;
    .alert_row{
      text-align:center; 
    }
    .redirect_row{
      text-align:right; 
    }
  }
  .job_row:hover {
    background-color:#D1EEEE;
  }
  .fix_line_height {
    line-height:28px;
  }
    //this is part of twitter bootstrap, but apparently not our version
  .text-success {
    color:#468847;
  }
  .text-info {
    color:#3A87AD;
  }
  .text-error {
    color:#B94A48;
  }
}

.carousel_no_bottom_margin{
  margin-bottom:0px;
}
// force the pic carousel to a max pic size so we don't have weird drawing issues
    
.pic_carousel{
  height:78px;
}
/*****************************
  Contact page
******************************/
.message_input{
  width: 99.9%;
  resize: none;
  overflow: auto;
  display: block;
  margin: 0px;
  padding: 0px
}

// force the message row to be at least 80 px
.grouping_row{
  min-height:80px;
  padding-top:10px;
}
.grouping_row:hover {
  background-color:lightyellow;
}

.message_row{
  background-color: #E2EBE4;
  border: 1px white solid;
  padding: 3px;
}

.message_commentor{
  float:left;
}
.message_created{
  float:right;
}
.message_message{
  font-size:18px;  
  .unseen{
    font-weight: bold;
    color: black;
    font-size: 22px;
  }
}


/*****************************
  Set price page
******************************/
#payment-errors {
  margin-bottom: 9px;
}

/*****************************
  Merge page
******************************/
#merge_carousel {
  float:left;
  .carousel-inner {
    .merge_carousel_pic {
      margin-left:auto;
      margin-right:auto;
    }
  }

  .carousel-control {
    top:51%;
  }
  .carousel-control.left {
    left:5px;
    right:auto;
  }
  .carousel-control.right {
    right:5px;
    left:auto;
  }

}

