/*****************************
  All pages
******************************/
#navbar .feedback_from {
  width: 95%;
}
#navbar .feedback_textarea {
  height: 120px;
  width: 95%;
}
#navbar .feedback_buttonarea {
  float: right;
  margin-bottom: 12px;
}
#navbar body {
  padding-top: 10px;
}
#navbar #cart_li .popover {
  max-width: 455px;
}
#navbar #cart_li .popover .arrow {
  left: 77px;
}
#navbar #iso_cart .item {
  padding: 5px;
}
#footer p {
  color: #777777;
}
#footer p a {
  color: #777777;
}
/*****************************
  Index page
******************************/
#indexapp {
  /* Make carousel transitions as fades (default is a slider) */
  /* Move the buttons down a bit */
}
#indexapp .photo {
  position: relative;
  width: 100%;
  height: 635px;
  background-size: 100%;
}
#indexapp .positioner {
  position: absolute;
}
#indexapp .hero-unit {
  position: absolute;
  padding: 15px;
  width: 340px;
  background-color: rgba(222, 222, 222, 0.72);
  z-index: 100;
}
#indexapp .hero-unit h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}
#indexapp #photo1 {
  background: url('/static/images/sm_botanical_before.jpg');
}
#indexapp #photo1_markup {
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  background: url('/static/images/sm_botanical_before_markup.png');
}
#indexapp #photo2 {
  background: url('/static/images/sm_botanical_after.jpg');
}
#indexapp #photo3 {
  background: url('/static/images/restoration_before.jpg');
}
#indexapp #photo3_markup {
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  background: url('/static/images/restoration_before_markup.png');
}
#indexapp #photo4 {
  background: url('/static/images/restoration_after.jpg');
}
#indexapp #photo5 {
  background: url('/static/images/gr_before.jpg');
}
#indexapp #photo5_markup {
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  background: url('/static/images/gr_markup.png');
}
#indexapp #photo6 {
  background: url('/static/images/gr_after.jpg');
}
#indexapp .carousel .item {
  -webkit-transition: opacity 3s;
  -moz-transition: opacity 3s;
  -ms-transition: opacity 3s;
  -o-transition: opacity 3s;
  transition: opacity 3s;
}
#indexapp .carousel .active.left {
  left: 0;
  opacity: 0;
  z-index: 2;
}
#indexapp .carousel .next {
  left: 0;
  opacity: 1;
  z-index: 1;
}
#indexapp .carousel .active.right {
  left: 0;
  opacity: 0;
  z-index: 2;
}
#indexapp .carousel .prev {
  left: 0;
  opacity: 1;
  z-index: 1;
}
#indexapp .carousel-control {
  top: 60%;
}
/*****************************
  How It Works page
******************************/
#howitworks {
  margin-left: 40px;
}
#howitworks p {
  color: #777;
}
#howitworks p strong {
  color: #555;
}
#howitworks .row {
  margin-top: 60px;
}
#howitworks .desc {
  margin-top: 20px;
}
#howitworks #example_markup {
  position: absolute;
  left: 100px;
  top: 80px;
  height: 40px;
  width: 40px;
  border: 4px #f89406;
  border-style: solid;
  border-radius: 6px;
  box-shadow: 0 0 10px 1px #eeeeee;
}
/*****************************
  Progress bar
******************************/
.progressbar {
  margin-bottom: 14px;
}
.progressbar .arrow_nosignin {
  padding: 5px;
  border-radius: 4px;
  margin-left: 86px;
}
.progressbar .arrow_signin {
  padding: 5px;
  border-radius: 4px;
  margin-left: 35px;
}
.progressbar .filled .nav_arrow {
  position: relative;
  background: #006dcc;
  border: 4px solid #006dcc;
  box-shadow: -3px 3px 3px #bbbbbb;
}
.progressbar .filled .nav_arrow:after,
.progressbar .filled .nav_arrow:before {
  left: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.progressbar .filled .nav_arrow:after {
  border-color: rgba(0, 109, 204, 0);
  border-left-color: #006dcc;
  border-width: 10px;
  top: 50%;
  margin-top: -10px;
}
.progressbar .filled .nav_arrow:before {
  border-color: rgba(73, 175, 205, 0);
  border-left-color: #006dcc;
  border-width: 16px;
  top: 50%;
  margin-top: -16px;
}
.progressbar .filled .txt {
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  line-height: 12px;
}
.progressbar .empty .nav_arrow {
  position: relative;
  background: #ffffff;
  border: 4px solid #006dcc;
  box-shadow: -3px 3px 3px #bbbbbb;
}
.progressbar .empty .nav_arrow:after,
.progressbar .empty .nav_arrow:before {
  left: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.progressbar .empty .nav_arrow:after {
  border-color: rgba(0, 109, 204, 0);
  border-left-color: #ffffff;
  border-width: 10px;
  top: 50%;
  margin-top: -10px;
}
.progressbar .empty .nav_arrow:before {
  border-color: rgba(73, 175, 205, 0);
  border-left-color: #006dcc;
  border-width: 16px;
  top: 50%;
  margin-top: -16px;
}
.progressbar .empty .txt {
  color: #000000;
  text-align: center;
  font-size: 14px;
  line-height: 12px;
}
.progressbar .arrow_doc {
  padding: 5px;
  border-radius: 4px;
  margin-left: 86px;
}
.progress_desc {
  text-align: center;
}
/*****************************
  Upload page
******************************/
#isocontainer {
  position: relative;
  border-style: dashed;
  border-color: #999;
  border-width: 3px;
  border-radius: 5px;
  margin: 0px;
  padding: 10px;
  /* This needs to match BorderGroups.padding */
  min-height: 320px;
  /*
  .rounded {
    margin: 0px;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
  }
  */
}
#isocontainer img {
  /* Don't allow accidental selection */
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
#isocontainer .pic_container {
  padding: 6px;
  text-align: center;
  border-radius: 5px;
  margin: 2px;
  position: relative;
  /*border-style: solid;*/
}
#isocontainer .pic_container .preview {
  display: block;
  vertical-align: middle;
}
#isocontainer .pic_container .pic_info span {
  padding: 5px;
  display: none;
}
#isocontainer .pic_container .del_pic {
  position: absolute;
  right: 6px;
  top: 6px;
  display: none;
}
#isocontainer .selected {
  background-color: #1D8CDB;
}
#isocontainer .group_border {
  border-radius: 5px;
  border-width: 1px;
  margin: 0px;
  border-style: solid;
  border-color: blue;
  position: absolute;
}
#isocontainer .upload_error {
  /* What does a pic_container look like when it has an error? */
  background-color: red;
  color: white;
}
#isocontainer .instructions {
  padding-top: 70px;
}
#isocontainer .instructions h1,
#isocontainer .instructions h2,
#isocontainer .instructions h3,
#isocontainer .instructions h4 {
  color: #777777;
  text-align: center;
}
#isocontainer .invisible {
  visibility: hidden;
}
.fileupload-addbutton {
  position: relative;
  display: block;
  overflow: hidden;
  padding: 9px 14px;
  cursor: pointer;
}
.fileupload-addbutton input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  height: 100%;
  width: auto;
  cursor: pointer;
  border: solid transparent;
  border-width: 0 0 100px 200px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
}
.fileupload-buttonbar {
  /*
  position: relative;
  clear: both;
  div.fileinput-button {
    #addpics, input {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  a {
    margin: 6px;
  }
  */
}
.doc_pics {
  margin-top: 10px;
  margin-bottom: 10px;
}
.doc_pic_container {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: default;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid #292929;
  outline: 5px solid #e3e3e3;
}
/*****************************
  Markup page
******************************/
#markup_app .markup_outer {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
#markup_app .markup_outer .markup_pic_container {
  /* Do not, under any circumstances, change the padding or margin
         of this .markup_pic_container or .pic unless you are 200% certain
         you aren't messing things up. Careful calculation of offsets
         for drawing markups at the right location is done, and if you
         change them, old markups might appear at the wrong spot */
  display: block;
  position: relative;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  margin-left: auto;
  margin-right: auto;
}
#markup_app .markup_outer .markup_pic_container .markup {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  position: absolute;
  border-radius: 6px;
  box-shadow: 0 0 10px 1px #eeeeee;
}
#markup_app .markup_outer .markup_pic_container .markup .markup-redx {
  position: absolute;
  cursor: default;
}
#markup_app .markup_outer .markup_desc_container {
  margin-top: 5px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: auto;
}
#markup_app .markup_outer .markup_desc_container .markup_desc .desc_title {
  border-radius: 6px;
  box-shadow: 0 0 10px 1px #eeeeee;
  display: inline;
  white-space: nowrap;
  padding-left: 4px;
  padding-right: 4px;
}
#markup_app .markup_outer .markup_desc_container .markup_desc .desc {
  margin-top: 5px;
  margin-bottom: 10px;
  width: 700px;
  /* height: 55px;*/
  max-width: 700px;
  display: block;
  margin-left: 40px;
}
#markup_app #instructions {
  /* Picture is 800 px wide. The margins on the well are 19px.
       762 + 19*2 = 800 */
  width: 762px;
  text-align: center;
}
.workflow-buttons {
  display: block;
}
.top-navigation-button {
  margin-top: 120px;
}
.bottom-navigation-button {
  margin-top: 12px;
}
/*****************************
  Job page
******************************/
.job_page .job_header_row {
  text-align: left;
}
.job_page .job_row {
  border-top: 1px solid #049cdb;
  padding: 1px;
  vertical-align: middle;
  text-align: left;
  height: 80px;
}
.job_page .alert_section {
  display: none;
}
.job_page .alert_section .alert_row {
  text-align: left;
}
.job_page .alert_section .redirect_row_buttons {
  text-align: right;
}
.job_page .job_row:hover {
  background-color: #D1EEEE;
}
.job_page .fix_line_height {
  line-height: 28px;
}
.carousel_no_bottom_margin {
  margin-bottom: 0px;
}
.pic_carousel {
  height: 78px;
}
/*****************************
  Contact page
******************************/
.message_input {
  width: 99.9%;
  resize: none;
  overflow: auto;
  display: block;
  margin: 0px;
  padding: 0px;
}
.grouping_row {
  min-height: 80px;
  padding-top: 10px;
}
.grouping_row:hover {
  background-color: lightyellow;
}
.message_row {
  background-color: #E2EBE4;
  border: 1px white solid;
  padding: 3px;
}
.message_commentor {
  float: left;
}
.message_created {
  float: right;
}
.message_message {
  font-size: 18px;
}
.message_message .unseen {
  font-weight: bold;
  color: black;
  font-size: 22px;
}
/**********************
  new message css
**********************/
.message div.top .commentor {
  font-weight: bold;
}
.message div.top .my_comment {
  color: darkred;
}
.message div.bottom .time {
  color: #777;
}
/*****************************
  Set price page
******************************/
#setprice_app #payment-errors {
  margin-bottom: 9px;
}
#setprice_app #offer_label {
  display: inline;
}
#setprice_app #suggestions {
  float: right;
}
#setprice_app #table_header {
  text-align: center;
}
#setprice_app .newcc_collapsible {
  display: none;
}
#setprice_app #payment .card_choice {
  border-radius: 5px;
  position: relative;
  margin: 4px 4px 4px 0px;
  padding: 8px;
  background-color: #eeeeee;
}
#setprice_app #payment .card_choice input.expanded_radio {
  display: inline;
  margin-left: -30px;
  margin-top: 30px;
  position: absolute;
}
#setprice_app #payment .card_choice input.collapsed_radio {
  display: inline;
  margin-left: -30px;
  margin-top: 10px;
  position: absolute;
}
/*****************************
  Merge page
******************************/
#merge_carousel {
  float: left;
}
#merge_carousel .carousel-inner .merge_carousel_pic {
  margin-left: auto;
  margin-right: auto;
}
#merge_carousel .carousel-control {
  top: 51%;
}
#merge_carousel .carousel-control.left {
  left: 5px;
  right: auto;
}
#merge_carousel .carousel-control.right {
  right: 5px;
  left: auto;
}
/*****************************
  More Info/Modification Page
*****************************/
.left_arrow_box {
  position: relative;
  background: #88b7d5;
  border: 4px solid #c2e1f5;
}
.left_arrow_box:after,
.left_arrow_box:before {
  right: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.left_arrow_box:after {
  border-color: rgba(136, 183, 213, 0);
  border-right-color: #88b7d5;
  border-width: 10px;
  top: 50%;
  margin-top: -10px;
}
.left_arrow_box:before {
  border-color: rgba(194, 225, 245, 0);
  border-right-color: #c2e1f5;
  border-width: 16px;
  top: 50%;
  margin-top: -16px;
}
.right_arrow_box {
  position: relative;
  background: #8bd560;
  border: 4px solid #99f53d;
}
.right_arrow_box:after,
.right_arrow_box:before {
  left: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.right_arrow_box:after {
  border-color: rgba(139, 213, 96, 0);
  border-left-color: #8bd560;
  border-width: 10px;
  top: 50%;
  margin-top: -10px;
}
.right_arrow_box:before {
  border-color: rgba(153, 245, 61, 0);
  border-left-color: #99f53d;
  border-width: 16px;
  top: 50%;
  margin-top: -16px;
}
/****************************
  How it works page
****************************/
.how_it_works_box {
  text-align: center;
  height: 50px;
  line-height: 50px;
  -moz-border-radius: 24px;
  border-radius: 24px;
  -moz-box-shadow: 0px 0px 18px #000000;
  box-shadow: 0px 0px 18px #000000;
}
.rotate_90 {
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -moz-transform: rotate(90deg);
  /* Firefox */
  -webkit-transform: rotate(90deg);
  /* Safari and Chrome */
  -o-transform: rotate(90deg);
  /* Opera */
}
.rotate_180 {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  /* IE 9 */
  -moz-transform: rotate(180deg);
  /* Firefox */
  -webkit-transform: rotate(180deg);
  /* Safari and Chrome */
  -o-transform: rotate(180deg);
  /* Opera */
}
/********************************
    Toggle Buttons
    Made with Internet 4.1
    http://proto.io/freebies/onoff/
********************************/
.onoffswitch {
  position: relative;
  width: 101px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #999999;
  border-radius: 8px;
}
.onoffswitch-inner {
  width: 200%;
  margin-left: -100%;
  -moz-transition: margin 0.3s ease-in 0s;
  -webkit-transition: margin 0.3s ease-in 0s;
  -o-transition: margin 0.3s ease-in 0s;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before,
.onoffswitch-inner:after {
  float: left;
  width: 50%;
  height: 34px;
  padding: 0;
  line-height: 34px;
  font-size: 14px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.onoffswitch-inner:before {
  content: "Active";
  padding-left: 10px;
  background-color: #2FFF59;
  color: #000000;
}
.onoffswitch-inner:after {
  content: "Inactive";
  padding-right: 10px;
  background-color: #EEEEEE;
  color: #999999;
  text-align: right;
}
.onoffswitch-switch {
  width: 17px;
  margin: 8.5px;
  background: #FFFFFF;
  border: 2px solid #999999;
  border-radius: 8px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 63px;
  -moz-transition: all 0.3s ease-in 0s;
  -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}
/********************************
    Email Toggle Buttons
    Made with Internet 4.1
    http://proto.io/freebies/onoff/
********************************/
.onoffemailswitch {
  position: relative;
  width: 123px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.onoffemailswitch-checkbox {
  display: none;
}
.onoffemailswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #999999;
  border-radius: 7px;
}
.onoffemailswitch-inner {
  width: 200%;
  margin-left: -100%;
  -moz-transition: margin 0.3s ease-in 0s;
  -webkit-transition: margin 0.3s ease-in 0s;
  -o-transition: margin 0.3s ease-in 0s;
  transition: margin 0.3s ease-in 0s;
}
.onoffemailswitch-inner:before,
.onoffemailswitch-inner:after {
  float: left;
  width: 50%;
  height: 34px;
  padding: 0;
  line-height: 34px;
  font-size: 14px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.onoffemailswitch-inner:before {
  content: "Email";
  padding-left: 10px;
  background-color: #2FFF59;
  color: #000000;
}
.onoffemailswitch-inner:after {
  content: "Don't Email";
  padding-right: 10px;
  background-color: #EEEEEE;
  color: #999999;
  text-align: right;
}
.onoffemailswitch-switch {
  width: 17px;
  margin: 8.5px;
  background: #FFFFFF;
  border: 2px solid #999999;
  border-radius: 7px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 85px;
  -moz-transition: all 0.3s ease-in 0s;
  -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
}
.onoffemailswitch-checkbox:checked + .onoffemailswitch-label .onoffemailswitch-inner {
  margin-left: 0;
}
.onoffemailswitch-checkbox:checked + .onoffemailswitch-label .onoffemailswitch-switch {
  right: 0px;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
/****************************************************************
 * Album Etc
 ***************************************************************/
/*
#album_parent .hero-unit {
  I want to shrink the padding, but the hero unit and the stupid columns gets all wonky with centering...
  padding: 60px;
  background-color: rgba(222, 222, 222, 0.72);
  z-index: 100;
}
*/
/****************************************************************
 * Account settings
 ***************************************************************/
#account_settings #pic-form .doc_profile_pic {
  border: 4px #999999;
  border-style: solid;
  border-radius: 6px;
  display: block;
}
#account_settings #pic-form #doc_profile_desc {
  width: 360px;
  max-width: 360px;
  display: block;
}
#account_settings #pic-form #doc_profile_submit {
  margin-top: 20px;
}
#account_settings #pic-form #doc_pic_control {
  margin-bottom: 0px;
}
#account_settings #pic-form #prof_link {
  padding-top: 5px;
}
#account_settings #profile-form .nickname {
  text-align: left;
  cursor: auto;
}
#account_settings #profile-form .email-group {
  margin-bottom: 10px;
}
/****************************************************************
 * Doctor Profile Page
 ***************************************************************/
#doctor_profile .album_link {
  margin-top: 25px;
  margin-bottom: 25px;
}
#doctor_profile .album_link .link {
  margin-left: 20px;
}
#doctor_profile .avatar {
  margin: 0px 20px 8px 0px;
  float: left;
}
/****************************************************************
 * Privacy Policy
 ***************************************************************/
#privacy blockquote {
  margin-bottom: 0px;
}
.top_loader {
  margin-top: 200px;
  margin-bottom: 200px;
}
/****************************************************************
 * faq/doc_faq
 ***************************************************************/
.faq .question {
  color: black;
  font-size: 18px;
  margin-left: 20px;
}
.faq .answer {
  display: none;
  margin-left: 40px;
}
/****************************************************************
 * Home / Ember stuff
 ***************************************************************/
/* Messages under albums */
.new_message {
  /* Make sure it lines up with the button to send the message */
}
.new_message input {
  margin: 0;
}
