    <div id="instructions" class="well header_instructions">
      <h3>
        Give some general instructions for what you'd like done
      </h3>
      <h4>
        Click and drag on the picture to add instructions for a specific area
      </h4>
    </div>

  {{ partial 'picsGrouping'}}

  {{outlet}}
