    <div id="instructions" class="well">
      <h3>
        Give some general instructions for what you'd like done
      </h3>
      <h3>
        Click and drag to add instructions for a specific area
      </h3>
    </div>

  {{ partial 'picsGrouping'}}

  {{outlet}}
