        <div class='btn btn-success btn-large workflow-buttons fileupload-addbutton bottom-navigation-button'>
        <span id="doc_upload_text">Upload Finished Product</span>
            {{view 'uploadButton' groupBinding="model"}}
        </div>
