{{#each docPicGroup in controller }}
<div class='markup_outer' style="position:relative">
  {{ partial 'picVisual' }}
  {{#if isAlbumDoctor}}
    {{ partial 'downloadLink' }}
  {{/if}}
</div>
<hr/>
{{/each}}
