        <div class='btn btn-success btn-large workflow-buttons fileupload-addbutton bottom-navigation-button'>
        Upload Finished Product
            <input id="doc_file" type="file" name="doc_file">
        </div>
