<div>
  <span>
    <a {{bind-attr href="pic.original_url" download="pic.downloadName"}} class="btn btn-primary">Download Original</a>
  </span>
  {{#if formattedCreated}}
  <span style="float:right">
    Uploaded {{formattedCreated}}
  </span>
  {{/if}}
</div>
