      <div class='markup_desc_container'>
        <div class="markup_desc">
          <p class="desc_title">General instructions:</p>
          <div class="instruction">
            {{view 'autoGrowTextArea' class="desc" disabledBinding="pic.finished" eventDelegateBinding="controller" focusOutEvent="saveMeFocus" keyUpEvent="saveMeKeyUp" valueBinding="pic.description"}}

          </div>
          <div class="imaginary_instruction_for_tour"></div>
        </div>
      </div>
