  <div class='span2'>
    <!-- This '#anchor' is a hack to make sure that the div has a min width -->
    <div id="anchor" style="width:180px; height:1px;"></div>
    <!-- These buttons are slid down by js. Using 'position:fixed' breaks -->
    <!-- on narrow monitors -->
    <div id="buttons" style='position:static; width:130px; margin-left: 20px;'>
      {{#if previousGroup}}
      {{#link-to 'pics.edit' previousGroup class='btn btn-primary btn-large workflow-buttons' }}
      Previous
      {{/link-to}}
      {{else}}
        {{#link-to 'album.upload' class='btn btn-primary btn-large workflow-buttons'}}
        Upload
        {{/link-to}}
      {{/if}}

      {{#if nextGroup}}
      {{#link-to 'pics.edit' nextGroup class='btn btn-primary btn-large workflow-buttons'}}
      Next
      {{/link-to}}
      {{else}}
        {{#if isLoggedIn}}
          {{#link-to 'album.pay' class='btn btn-primary btn-large workflow-buttons'}}
          Pay
          {{/link-to}}
        {{else}}
        {{#link-to 'signinToPay' class='btn btn-primary btn-large workflow-buttons'}}
        Sign In
          {{/link-to}}
        {{/if}}
      {{/if}}
    </div>
  </div>
