<div class='row'>
  <div id="markup_app" class='span10'>
  {{#if hasDocPics}}
    {{ render 'docPics' model.docPicGroups }}
  {{/if}}
  {{outlet}}
  {{#if album.job}}
    {{ render 'messages' model}}
  {{/if}}
  </div>
  {{ render 'groupNavigation' model}}
</div>
