<div class='row'>
  <div id="markup_app" class='span10'>
  {{#if hasDocPics}}
    {{ render 'docPics' model.docPicGroups }}
  {{/if}}
  {{outlet}}
  {{ render 'comments' model.comments}}
  </div>
  {{ render 'groupNavigation' model}}
</div>
