      <div class='markup_desc_container'>
        {{#each markup in controller}}
        <div class="markup_desc">
          <p class="desc_title" {{bind-attr style="markup.descStyle"}}>{{markup.markupStyle.name}} instructions:</p>
          <div class="dyn_instruction">
            {{render 'markupInstructionTextBox' markup.model}}
          </div>
        </div>
        {{/each}}
      </div>
