Hello Mate, I'm the comments, here's what your scope is {{this}}

There are {{length}} comment
<ul>
{{#each message in controller}}
<li>
Message says: {{message.message}} from: {{message.commentor}}
  </li>
{{/each}}
</ul>
