  <div class='form-row'>
    <div class='form-field'>
      Full Incorporated Name 
    </div>
    <div class='form-value'>
      {{ input value=name placeholder='Picture Pro, LLC'}}
    </div>
  </div>

    <div class='form-field'>
      EIN 
    </div>
    <div class='form-value'>
      {{ input value=ein placeholder='000000000'}}
    </div>
  </div>

  <div class='form-row'>
    <div class='form-field'>
      Email
    </div>
    <div class='form-value'>
      {{ input value=email placeholder='admin@picturepro.com'}}
    </div>
  </div>
