
  <div class='form-row'>
    <div class='form-field'>
      Full Legal Name
    </div>
    <div class='form-value'>
      {{ input value=name placeholder='Jason Bourne'}}
    </div>
  </div>

  <div class='form-row'>
    <div class='form-field'>
      Email
    </div>
    <div class='form-value'>
      {{ input value=email placeholder='jason.bourne@identity.com'}}
    </div>
  </div>
