<div class='settings-form form-650'>
  <div class='form-row'>
    <h4> Before you can be a Pic Doctor you must complete a few basic steps.</h4>
    </div>
  <div class='form-row'>
    <div class='form-field'>
      <h5> Create/connect your Stripe account</h5>
    </div>
    <div class='form-value'>
      {{#if stripe_user}}
      <div class='alert alert-info width15'> Done</div>
      {{else}}
      {{#link-to 'settings.payments'}}
      <div class='btn btn-primary'> Unfinished - Click Here</div>
      {{/link-to}}

      {{/if}}
    </div>
  </div>
  {{#if vError}}
  <div class='form-row'>
    <div class='alert alert-error'>{{vError}}</div>
  </div>
  {{/if}}
  {{#if showStep2}}
  <div class='form-row'>
    <div class='form-field'>
      <div class='alert alert-info'> Fill out your profile </div>
    </div>
    <div class='form-value'>
    {{#link-to 'settings.profile' class='btn btn-info'}}Go now{{/link-to}}
    </div>
  </div>
  <div class='form-row'>
    <div class='form-field'>
      <div class='alert alert-info'> Start working jobs </div>
    </div>
    <div class='form-value'>
    <button class='btn btn-info' {{ action 'goNewJobs'}} >
      Go now 
    </button>
    </div>
  </div>
  {{/if}}
</div>
{{#if showLoader}}
<div class='top_loader'>
  <div class="windows8">
    <div class="wBall" id="wBall_1">
      <div class="wInnerBall">
      </div>
    </div>
    <div class="wBall" id="wBall_2">
      <div class="wInnerBall">
      </div>
    </div>
    <div class="wBall" id="wBall_3">
      <div class="wInnerBall">
      </div>
    </div>
    <div class="wBall" id="wBall_4">
      <div class="wInnerBall">
      </div>
    </div>
    <div class="wBall" id="wBall_5">
      <div class="wInnerBall">
      </div>
    </div>
  </div> 
</div>
{{/if}}
