<div class="alert alert-info">In order to recieve payments for your work performed you will need to sign up for a Stripe account.  Stripe allows us to send money to you without needing to store any of
  your sensative information on our servers.  This protects you and your personal information. </div>

<div class='form-row'>
  <a {{bind-attr href=stripeUrl}}> {{static_img 'blue_stripe.png'}}</a>
</div>

<div class='form-row'>

  {{#if bad_oldpassword }}
  <div class="alert alert-error">Your old password was incorrect.</div>
  {{/if}}
</div>
