<div class='form-450'>
  <div class='form-row'>
    <div class='form-field'>
      Old Password
    </div>
    <div class='form-value'>
      {{ input type='password' value=old_password }}
    </div>
  </div>

  <div class='form-row'>
    <div class='form-field'>
      New Password
    </div>
    <div class='form-value'>
      {{ input type='password' value=new_password }}
    </div>
  </div>


  <div class='form-row'>
    <div class='form-field'>
      Confirm New Password
    </div>
    <div class='form-value'>
      {{ input type='password' value=confirm_password }}
    </div>
  </div>


  <div class='form-row'>
    <button class='btn btn-info' {{ action 'save'}} >
       Save 
      </button>
  </div>

  <div class='form-row'>
      {{#if show_passwordmatch_error }}
      <div class="alert alert-error">Your new passwords must match.</div>
      {{/if}}

      {{#if password_changed }}
      <div class="alert alert-success">Pasword changed successfully.</div>
      {{/if}}

      {{#if bad_oldpassword }}
      <div class="alert alert-error">Your old password was incorrect.</div>
      {{/if}}
    </div>
</div>
