<br/>
Old password:
{{ input type='password' value=old_password }}
<br/>

New Password:
{{ input type='password' value=new_password }}
<br/>
Confirm New Password:
{{ input type='password' value=confirm_password }}
<br/>
<br/>

{{#if show_passwordmatch_error }}
<div class="alert alert-error">Your new passwords must match.</div>
{{/if}}

{{#if password_changed }}
<div class="alert alert-success">Pasword changed successfully.</div>
{{/if}}

{{#if bad_oldpassword }}
<div class="alert alert-error">Your old password was incorrect.</div>
{{/if}}

<button {{ action 'save'}} >
  Update Password
</button>

