<div class='settings-form form-650'>
  <div class='form-row'>
    <h3>Get Excited, you're almost there...</h3>
  </div>
  
  <div class='form-row'>
    <div class='form-field'>
      Hooking up your Stripe account...
    </div>
    <div class='form-value'>
      <div class='alert alert-info width15'>
        {{step1}}
      </div>
    </div>
  </div>
  {{#if vError}}
  <div class='form-row'>
    <div class='alert alert-error'>{{vError}}</div>
  </div>
  {{/if}}
  {{#if showStep2}}
  <div class='form-row'>
    <div class='form-field'>
      Start working jobs 
    </div>
    <div class='form-value'>
      <button class='btn btn-info' {{ action 'goNewJobs'}} >
        Go now 
      </button>
    </div>
  </div>
  {{/if}}
</div>
{{#if showLoader}}
<div class='top_loader'>
  <div class="windows8">
    <div class="wBall" id="wBall_1">
      <div class="wInnerBall">
      </div>
    </div>
    <div class="wBall" id="wBall_2">
      <div class="wInnerBall">
      </div>
    </div>
    <div class="wBall" id="wBall_3">
      <div class="wInnerBall">
      </div>
    </div>
    <div class="wBall" id="wBall_4">
      <div class="wInnerBall">
      </div>
    </div>
    <div class="wBall" id="wBall_5">
      <div class="wInnerBall">
      </div>
    </div>
  </div> 
</div>
{{/if}}
