{% extends 'base_email.html' %}

{% block subject %}
PicDoctors refund
{% endblock %}

{% block plain %}
We've released the hold on your credit card -- we never actually charged it. We've also pulled you job from the market.

We're sorry to hear that you weren't happy - if we can help in any way, please let us know.
{% endblock %}

{% block html %}
We've released the hold on your credit card -- we never actually charged it. We've also pulled you job from the market.<br/><br/>

We're sorry to hear that you weren't happy - if we can help in any way, please let us know.<br/><br/>
{% endblock %}

