{% extends 'base_email.html' %}

{% block subject %}
Your job hasn't generated any interest
{% endblock %}


{% block plain %}
Unfortunately, job #{{ job_id|stringformat:"08d" }} hasn't generated any interest. We've pulled the job from the market for now.

{{ number_of_doctors }} doctors have suggested that a more appropriate price would be approximately ${{ avg_price}}. If you are interested in offering more money for the job, you can do that here:

{{ request.SITE_URL }}{% url 'doc_job_page_with_page_and_id' 1 job.id %}

Thanks for using PicDoctors!
{% endblock %}



{% block html %}
Unfortunately, job #{{ job_id|stringformat:"08d" }} hasn't generated any interest. We've pulled the job from the market for now.<br/><br/>

{{ number_of_doctors }} doctors have suggested that a more appropriate price would be approximately ${{ avg_price}}. If you are interested in offering more money for the job, you can do that <a href="{{ request.SITE_URL }}{% url 'doc_job_page_with_page_and_id' 1 job.id %}">here</a>.<br/><br/>

Thanks for using PicDoctors!<br/><br/>
{% endblock %}

