{% extends 'base_email.html' %}

{% block subject %}
{{ job.doctor.nickname }} has finished your job
{% endblock %}

{% block plain %}
{{ job.doctor.nickname }} has finished work on your job. Please come review it here:

{{ request.SITE_URL }}{% url 'job_page_with_page_and_id' 1 job.id %}

Thanks for using PicDoctors!
{% endblock %}

{% block html %}
{{ job.doctor.nickname }} has finished work on your job. Please come review it <a href="{{ request.SITE_URL }}{% url 'job_page_with_page_and_id' 1 job.id %}">here</a>.<br/><br/>

Thanks for using PicDoctors!<br/><br/>
{% endblock %}

