{% extends 'base_email.html' %}

{% block subject %}
Your job has been put on the market
{% endblock %}


{% block plain %}
We've placed your job on the market. We'll let you know when someone accepts the job.

You can check on the job here:
{{ request.SITE_URL }}{% url 'job_page_with_page_and_id' 1 job.id %}

Thanks for using PicDoctors!
{% endblock %}



{% block html %}
We've placed your job on the market. We'll let you know when someone accepts the job.<br/><br/>

You can check on the job <a href="{{ request.SITE_URL }}{% url 'job_page_with_page_and_id' 1 job.id %}">here</a>.<br/><br/>

Thanks for using PicDoctors!<br/><br/>
{% endblock %}

