{% extends 'base_email.html' %}
{% load picdoctags %}

{% block subject %}
{{ request.user.nickname }} has commented on your job
{% endblock %}


{% block plain %}
{{ request.user.nickname }} has commented the following:

{{ comments }}

To respond, please visit {{ request.SITE_URL }}{% ember_url 'album_view' album_id=job.album.id group_id=comment_group_id %}

Thanks for using PicDoctors!
{% endblock %}



{% block html %}
{{ request.user.nickname }} has said the following regarding your job:<br/><br/>

{{ comments }}<br/><br/>

To respond, please click <a href="{{ request.SITE_URL }}{% ember_url 'album_view' album_id=job.album.id group_id=comment_group_id %}">here</a>.<br/><br/>

Thanks for using PicDoctors!
{% endblock %}

