{% extends 'base_email.html' %}
{% load picdoctags %}

{% block subject %}
PicDoctors job confirmation
{% endblock %}

{% block plain %}
Your job has been placed on the market!

You've declared your job to be worth {{ amount|currency_cents }}, but we won't charge your card until you've accepted a Pic Doctor's work.

You can check the status of your jobs at any time at the following url:

{{ request.SITE_URL }}{{ jobs_url }}

Thanks for using PicDoctors!
{% endblock %}

{% block html %}
Your job has been placed on the market!<br/><br/>

You've declared your job to be worth {{ amount|currency_cents }}, but we won't charge your card until you've accepted a Pic Doctor's work.<br/><br/>

You can check the status of your jobs at any time <a href="{{ request.SITE_URL }}{{ jobs_url }}">here</a>.<br/><br/>

Thanks for using PicDoctors!

{% endblock %}

