{% extends 'base_email.html' %}
{% load picdoctags %}

{% block subject %}
PicDoctors password reset
{% endblock %}

{% block plain %}
Your password has been changed to {{ new_password }}. You can log in and change your password by visiting the following url:

{{ request.SITE_URL }}{% ember_url 'account_settings' %}/password

If you didn't request a password reset, please let us know. Thanks for using PicDoctors!
{% endblock %}

{% block html %}
Your password has been changed to <strong>{{ new_password }}</strong>.
<br/>
<br/>
<a href="{{ request.SITE_URL }}{% ember_url 'account_settings' %}/password">Log in and change your password.</a>
<br/>
<br/>
If you didn't request a password reset, please let us know. Thanks for using PicDoctors!
{% endblock %}

