{% extends 'account_settings.html' %}

{% block settings_tabs %}
      <li><a id="bank_tab" href="#bank_pane" data-toggle="tab">Bank Transfer</a></li>
      <li><a id="merchant_tab" href="#merchant_pane" data-toggle="tab">Merchant Info</a></li>
{% endblock %}

{% block settings_body %}

      {#####################################################}
      {# Bank Account Pane                                 #}
      {#####################################################}
      <div class="tab-pane fade" id="bank_pane">
        {# List saved bank accounts #}
        {% if bank_accounts %}
          <h5>Your bank account details:</h5>
          {% for ba in bank_accounts %}
            <dl>
              <dt>
                <dd>Bank Name: {{ ba.bank_name|capfirst }}</dd>
                <dd>Name: {{ ba.name }}</dd>
                <dd>Type: {{ ba.type|capfirst }}</dd>
                <dd>Account Number: {{ ba.account_number }}</dd>
                <dd>Routing Number: {{ ba.routing_number }}</dd>
              </dt>
              <p class="uri" style='display:none;'>{{ ba.uri }}</p>
              <a class="btn btn-danger delete_bank_account" href="#"><i class="icon-trash icon-white"></i> Delete</a>
            </dl>
          {% endfor %}
        {% else %}
          <h3>You do not have a bank account saved. You will not be
            able to withdraw money until you add one.</h3>

          <div class="alert alert-error">
            <button class="close" data-dismiss="alert">×</button>
            <strong>Warning!</strong>
            Please be careful when entering your bank account information!
            <br/>
            Due to the nature of the ACH network, it can take up to <strong>5 business days</strong>
            for us to even find out that the transfer failed.
          </div>

          <img src="{{ STATIC_URL }}images/check_image.png">
          <br/> <br/>

          <form action="#" method="POST" id="bank-account-form">
            <fieldset>
              <legend>Bank Account Information</legend>
              <label>Account Holder's Name
                <input type="text"
                autocomplete="off"
                placeholder="Bank Account Holder's name"
                class="ba-name">
              </label>
              <label>Routing Number
                <input type="text"
                autocomplete="off"
                placeholder="Routing Number"
                class="ba-rn">
              </label>
              <label>Account Number
                <input type="text"
                autocomplete="off"
                placeholder="Account Number"
                class="ba-an">
              </label>
              <label>Account Type
                <select>
                  <option value='' disabled selected style='display:none;'>
                  Select Account Type
                  </option>
                  <option value="checking">CHECKING</option>
                  <option value="savings">SAVINGS</option>
                </select>
              </label>
              <button type="submit" class="btn btn-primary">
                Create Account
              </button>
            </fieldset>
          </form>
          <p id="error_bankaccount" class="label label-important balanced_error" style="display:none;">Invalid Bank Account Information, please try again.</p>

          {% if not IS_PRODUCTION %}
            {# Include some debug accounts #}
            <div class="row">
              <div class="span7">
                Test Bank Accounts:<br/>
                <button id="btn-badrouting" type="submit" class="btn btn-info">Invalid Routing Number</button>
                <button id="btn-pending" type="submit" class="btn btn-warning">State -> Pending</button>
                <button id="btn-paid" type="submit" class="btn btn-danger">State -> Paid</button>
                <button id="btn-failed" type="submit" class="btn btn-success">State -> Failed</button>
              </div>
            </div>

          {% endif %}
        {% endif %}
      </div>

      {#####################################################}
      {# Merchant Underwriting Pane                        #}
      {#####################################################}
      <div class="tab-pane fade" id="merchant_pane">
        <h3>Merchant Information</h3>
        {% if is_merchant %}
          <div class="alert alert-success">
            <button class="close" data-dismiss="alert">×</button>
            We've already got your merchant info, thanks!
          </div>

        {% else %}
          <div class="alert alert-error">
            <button class="close" data-dismiss="alert">×</button>
            We're legally required to collect some information to satisfy 'Know Your Customer' and Anti-Money Laundering laws.
          </div>
          <form action="{% url merchant_info %}" method="POST" id="bank-account-form">
            {% csrf_token %}

            <label class="radio">
              <input type="radio" name="merchant_type" id="person" value="person" checked>
              Individual
            </label>
            <label class="radio">
              <input type="radio" name="merchant_type" id="business" value="business">
              Business
            </label>

            {########################}
            {# Business only fields #}
            {########################}
            <label class="business_field" style="display:none;">Business Name
              <input type="text"
              placeholder="John's Photography"
              name="business_name">
            </label>

            <label class="business_field" style="display:none;">Business Street Address
              <input type="text"
              placeholder="222 Aperture Way"
              name="business_street_address">
            </label>

            <label class="business_field" style="display:none;">Business Postal Code
              <input type="text"
              placeholder="12345"
              name="business_postal_code">
            </label>

            <label class="business_field" style="display:none;">Business Phone Number
              <input type="text"
              class="phone_number"
              placeholder="(987) 654-3210"
              name="business_phone_number">
            </label>

            <label class="business_field" style="display:none;">Federal Tax Id
              <input type="text"
              placeholder="211111111"
              name="business_tax_id">
            </label>

            {#########################################}
            {# Person fields (used for business too) #}
            {#########################################}
            <label>Your Name
              <input type="text"
              placeholder="John Doe"
              name="name">
            </label>

            <label>Your Street Address
              <input type="text"
              placeholder="123 Cherry Lane"
              name="street_address">
            </label>

            <label>Your Postal Code
              <input type="text"
              placeholder="12345"
              name="postal_code">
            </label>

            <label>Your Phone Number
              <input type="text"
              class="phone_number"
              placeholder="(987) 654-3210"
              name="phone_number">
            </label>

            <label>Your Birth Month
              <select name="birth_month">
                <option value="1">January</option>
                <option value="2">February</option>
                <option value="3">March</option>
                <option value="4">April</option>
                <option value="5">May</option>
                <option value="6">June</option>
                <option value="7">July</option>
                <option value="8">August</option>
                <option value="9">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>
              </select>
            </label>

            <label>Your Birth Year
              <input type="text"
              placeholder="1980"
              name="birth_year">
            </label>

            <input type="submit" name="submit" class='btn btn-primary' value="Submit" >

          </form>

        {% endif %}
      </div>
{% endblock %}
{% block sub_scripts %}
<script>
  $(function(){
  {% if not is_merchant %}
  <!-- Calling showStep for some reason freezes the tour, so restart and next will have to do -->
  tour.restart();
  {% elif bank_accounts|length == 0 %}
  tour.restart();
  tour.next();
  {% endif %}
  })
</script>
{% endblock %}
