{% extends 'account_settings.html' %}

{% block settings_tabs %}
      <li><a href="#credit_cards" data-toggle="tab">Credit Cards</a></li>
{% endblock %}

{% block settings_body %}
      <div class="tab-pane fade" id="credit_cards">
        <form id="tabCC">

          {# List saved credit cards #}
          {% if credit_cards|length > 0 %}
          <h5>Your saved credit cards:</h5>
          {% endif %}
          {% for card in credit_cards %}
          <div class="user_card">
            <div class="row">
              <div class="span4">
                <div class="span3">
                  <div>{{ card.brand }}</div>
                  <div>XXXX-XXXX-XXXX-{{ card.last_four }}</div>
                  <div>Exp: {{ card.expiration_month }}/{{ card.expiration_year }}</div>
                  <div class='uri' style='display:none;'>{{ card.uri }}</div>
                </div>
                <button class="btn btn-danger span2">Delete</button>
              </div>
            </div>
            <hr>
          </div>
          {% endfor %}

          <h5>You can add new cards when completing <a href="/upload/">a new job</a></h5>

          {% comment %}
          I might add this in later, but I don't think it's really necessary.
          I started to add it and thought, "can't they just add it while
          they are paying?"

          <h5>Add a new credit card:</h5>
          <div class="row">
            <div id="card_div" class="span2">
              <label for="card_number">Card Number:</label>
              <input type="text" name="card_number"><br/>
              <p id="error_card" class="label label-important balanced_error" style="display:none;">Invalid card number</p>
            </div>
          </div>

          <div class="row">
            <div class="span2">
              <label for="expiration_month">Expiration:</label>
              <input type="text" name="expiration_month" class="span1" > /
              <input type="text" name="expiration_year"  class="span1" >
            </div>
            <div class="span1">
              <label for="security_code">CCV2:</label>
              <input type="text" name="security_code" class="span1" >
            </div>
            <div class="span3">
              <p id="error_exp" class="label label-important balanced_error" style="display:none;">Invalid expiration date</p>
              <p id="error_seccode" class="label label-important balanced_error" style="display:none;">Invalid security code</p>
              <p id="error_400" class="label label-important balanced_error" style="display:none;">Your card information is wrong.</p>
              <p id="error_402" class="label label-important balanced_error" style="display:none;">Your card could not be authorized.</p>
              <p id="error_404" class="label label-important balanced_error" style="display:none;">The marketplace could not be reached.</p>
            </div>
          </div>

          <div class="row">
            <div class="span2">
              <button class="btn btn-primary span2">Add Card</button>
            </div>
          </div>

          {% endcomment %}

        </form>
      </div>
{% endblock %}
