{% extends 'base.html' %}

{% block styles %}
{# picdoctors.css already included by default #}
{% endblock %}

{% block topscripts %}
{% endblock %}

{############################}
{% block main %}
<div id='account_settings' class='row'>
  <div class='span9'>
    <h4>Account Settings</h4>
  </div>
  <div class='span2'>
    <div class="btn btn-info" onclick="begin_tour()" style="margin-top:12px;">Help Me</div>
  </div>
</div>
<div id='account_settings' class='row span10'>
  <div class="well">
    <ul class="nav nav-tabs">
      <li class="active"><a id="home_tab" href="#home_pane" data-toggle="tab">Profile</a></li>
      <li><a id="password_tab" href="#password_pane" data-toggle="tab">Password</a></li>
      {% block settings_tabs %}
      {% endblock %}
    </ul>
    <div id="myTabContent" class="tab-content">

      {# Profile tab #}
      <div class="tab-pane active in" id="home_pane">
        <form id="email-form" class="form-horizontal">

          <div class="control-group">
            <label class="control-label" for="new_email" >Email</label>
            <div class="controls">
              <input type="text" id="new_email" name="new_email" value="{{ email }}" class="span3">
            </div>
          </div>

          <div id="email-success" class="alert alert-success email_alert" style="display:none;">
            <button class="close" data-dismiss="alert">×</button>
            Your password has been changed successfully.
          </div>
          <div id="email-fail" class="alert alert-error email_alert" style="display:none;">
            <button class="close" data-dismiss="alert">×</button>
            Uh oh. Something went wrong, and your email address wasn't changed. Sorry!
          </div>

          <div class="control-group">
            <label class="control-label"></label>
            <div class="controls">
              <button type="submit" class="btn btn-primary">Update</button>
            </div>
          </div>
        </form>
      </div>

      {# Password tab #}
      <div class="tab-pane fade" id="password_pane">
        <form id="password-form" action="#" method="POST" class="form-horizontal">

          <div class="control-group">
            <label class="control-label" for="old_password" >Old Password</label>
            <div class="controls">
              <input id="old_password" name="old_password" type="password" class="span3">
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="new_password" >New Password</label>
            <div class="controls">
              <input id="new_password" name="new_password" type="password" class="span3">
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="confirm_password" >Confirm New Password</label>
            <div class="controls">
              <input id="confirm_password" name="confirm_password" type="password" class="span3">
            </div>
          </div>

          <div id="password-success" class="alert alert-success password_alert" style="display:none;">
            <button class="close" data-dismiss="alert">×</button>
            Your password has been changed successfully.
          </div>
          <div id="password-oldbad" class="alert alert-error password_alert" style="display:none;">
            <button class="close" data-dismiss="alert">×</button>
            Your old password wasn't correct.
          </div>
          <div id="password-nomatch" class="alert alert-error password_alert" style="display:none;">
            <button class="close" data-dismiss="alert">×</button>
            Your new passwords didn't match.
          </div>

          <div class="control-group">
            <label class="control-label"></label>
            <div class="controls">
              <button type="submit" class="btn btn-primary">Update</button>
            </div>
          </div>
        </form>
      </div>

      {% block settings_body %}
      {% endblock %}

    </div>
  </div>

{% endblock %}
{############################}

{% block scripts %}
  <script type="text/javascript">
    var marketplace_uri = '{{ marketplace_uri }}';
  </script>
  <script src="{{ STATIC_URL }}js/account_settings.js"></script>
  <script type="text/javascript" src="https://js.balancedpayments.com/v1/balanced.js"></script>
  {% if not IS_PRODUCTION %}
  {# This file will be in the directory in production, but nobody should #}
  {# see it. Even if someone found it, these cards won't work in production #}
  <script src="{{STATIC_URL}}js/set_price_debugbank.js"></script>
  {% endif %}
  <script src="{{ STATIC_URL }}js/settings_tour.js"></script>
  <script src="{{ STATIC_URL }}tour/bootstrap-tour.js"></script>
  <script src="{{ STATIC_URL }}tour/deps/jquery.cookie.js"></script>
  {% block sub_scripts %}
  {% endblock %}
{% endblock %}

