{% extends 'base.html' %}

{% block main %}
<div id='account_settings' class='row'>
  <div class='span9'>
    <h4>Account Settings</h4>
  </div>
  <div class='span2'>
    <div id="settings_tour" class="btn btn-info" style="margin-top:12px;">Help Me</div>
  </div>
</div>
<div id='account_settings' class='row span10'>
  <div class="well">
    <ul class="nav nav-tabs">
      <li class="active"><a id="home_tab" href="#home_pane" data-toggle="tab">Profile</a></li>
      <li><a id="password_tab" href="#password_pane" data-toggle="tab">Password</a></li>
      <li><a id="notifications_tab" href="#notifications_pane" data-toggle="tab">Notifications</a></li>
      {% if perms.common.skaa %}
        <li><a id="cc_tab" href="#credit_cards" data-toggle="tab">Credit Cards</a></li>
      {% endif %}
      <li><a id="roles_tab" href="#roles" data-toggle="tab">Roles</a></li>
      {% if perms.common.doctor %}
        <li><a id="bank_tab" href="#bank_pane" data-toggle="tab">Bank Transfer</a></li>
        <li><a id="merchant_tab" href="#merchant_pane" data-toggle="tab">Merchant Info</a></li>
      {% endif %}
    </ul>
    <div id="myTabContent" class="tab-content">

      {# Profile tab #}
      <div class="tab-pane active in" id="home_pane">
        <form id="profile-form" class="form-horizontal">

          <div class="control-group">
            <label class="control-label" for="nickname" >Nickname</label>
            <div class="controls">
              <input type="text" id="new_nickname" name="new_nickname" value="{{ request.user.nickname }}" class="span3">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="new_email" >Email</label>
            <div class="controls">
              <input type="text" id="new_email" name="new_email" value="{{ request.user.email }}" class="span3">
            </div>
          </div>

          <div id="profile_error" class="alert alert-error" style="display:none;">
            <button class="close" data-dismiss="alert">×</button>
            <div id="profile_error_text"> words </div>
          </div>
          <div id="profile_success" class="alert alert-success" style="display:none;">
            <button class="close" data-dismiss="alert">×</button>
            <div id="profile_success_text"> words </div>
          </div>

          <div class="control-group">
            <label class="control-label"></label>
            <div class="controls">
              <button id="profile_submit" type="submit" class="btn btn-primary">Update</button>
            </div>
          </div>
        </form>
      </div>

      {# Password tab #}
      <div class="tab-pane fade" id="password_pane">
        <form id="password-form" action="#" method="POST" class="form-horizontal">

          <div class="control-group">
            <label class="control-label" for="old_password" >Old Password</label>
            <div class="controls">
              <input id="old_password" name="old_password" type="password" class="span3">
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="new_password" >New Password</label>
            <div class="controls">
              <input id="new_password" name="new_password" type="password" class="span3">
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="confirm_password" >Confirm New Password</label>
            <div class="controls">
              <input id="confirm_password" name="confirm_password" type="password" class="span3">
            </div>
          </div>

          <div id="password-success" class="alert alert-success password_alert" style="display:none;">
            <button class="close" data-dismiss="alert">×</button>
            Your password has been changed successfully.
          </div>
          <div id="password-oldbad" class="alert alert-error password_alert" style="display:none;">
            <button class="close" data-dismiss="alert">×</button>
            Your old password wasn't correct.
          </div>
          <div id="password-nomatch" class="alert alert-error password_alert" style="display:none;">
            <button class="close" data-dismiss="alert">×</button>
            Your new passwords didn't match.
          </div>

          <div class="control-group">
            <label class="control-label"></label>
            <div class="controls">
              <button type="submit" class="btn btn-primary">Update</button>
            </div>
          </div>
        </form>
      </div>


      {# Notifications tab #}
      <div class="tab-pane fade" id="notifications_pane">
        <script type='application/json' class='notification_infos'>{{notification_json|safe}}</script>
        <form id="notifications-form" action="#" method="POST" class="form-horizontal">


        </form>
      </div>

      {% if perms.common.skaa %}
      <div class="tab-pane fade" id="credit_cards">
        <form id="tabCC">

          {# List saved credit cards #}
          {% if credit_cards|length > 0 %}
          <h5>Your saved credit cards:</h5>
          {% endif %}
          {% for card in credit_cards %}
          <div class="user_card">
            <div class="row">
              <div class="span4">
                <div class="span3">
                  <div>{{ card.brand }}</div>
                  <div>XXXX-XXXX-XXXX-{{ card.last_four }}</div>
                  <div>Exp: {{ card.expiration_month }}/{{ card.expiration_year }}</div>
                  <div class='uri' style='display:none;'>{{ card.uri }}</div>
                </div>
                <button class="btn btn-danger span2">Delete</button>
              </div>
            </div>
            <hr>
          </div>
          {% endfor %}

          <h5>You can add new cards when completing <a href="/upload/">a new job</a></h5>

          {% comment %}
          I might add this in later, but I don't think it's really necessary.
          I started to add it and thought, "can't they just add it while
          they are paying?"

          <h5>Add a new credit card:</h5>
          <div class="row">
            <div id="card_div" class="span2">
              <label for="card_number">Card Number:</label>
              <input type="text" name="card_number"><br/>
              <p id="error_card" class="label label-important balanced_error" style="display:none;">Invalid card number</p>
            </div>
          </div>

          <div class="row">
            <div class="span2">
              <label for="expiration_month">Expiration:</label>
              <input type="text" name="expiration_month" class="span1" > /
              <input type="text" name="expiration_year"  class="span1" >
            </div>
            <div class="span1">
              <label for="security_code">CCV2:</label>
              <input type="text" name="security_code" class="span1" >
            </div>
            <div class="span3">
              <p id="error_exp" class="label label-important balanced_error" style="display:none;">Invalid expiration date</p>
              <p id="error_seccode" class="label label-important balanced_error" style="display:none;">Invalid security code</p>
              <p id="error_400" class="label label-important balanced_error" style="display:none;">Your card information is wrong.</p>
              <p id="error_402" class="label label-important balanced_error" style="display:none;">Your card could not be authorized.</p>
              <p id="error_404" class="label label-important balanced_error" style="display:none;">The marketplace could not be reached.</p>
            </div>
          </div>

          <div class="row">
            <div class="span2">
              <button class="btn btn-primary span2">Add Card</button>
            </div>
          </div>

          {% endcomment %}

        </form>
      </div>
      {% endif %} {# if perms.common.skaa #}

      <div class="tab-pane fade" id="roles">
        <form id="formRoles" class="form-horizontal">
          <h4>
            Control what type of Roles you'd like to have while at PicDoctors.<br />
            <h5>
              Doctor: Ability to take User Jobs and work on them <br />
              User: Ability to create Jobs to be taken by Doctors <br />
            </h5>
          </h4>
          <div class="row">
            <div class="span2 control-label">
              Doctor Role: <br/>
            </div>
            <div class="span2">
              <div class="onoffswitch">
                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox hide"
                id="doctorswitch" {% if perms.common.doctor %} checked {% endif %} >
                <label class="onoffswitch-label" for="doctorswitch">
                  <div class="onoffswitch-inner"></div>
                  <div class="onoffswitch-switch"></div>
                </label>
              </div>
            </div>  <!-- span2 switches -->
          </div>
          <div class="row">
            <div class="span2 control-label">
              User Role: <br/>
            </div>
            <div class="span2">
              <div class="onoffswitch">
                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox hide" 
                id="userswitch" {% if perms.common.skaa %} checked {% endif %} >
                <label class="onoffswitch-label" for="userswitch">
                  <div class="onoffswitch-inner"></div>
                  <div class="onoffswitch-switch"></div>
                </label>
              </div>
            </div>  <!-- span2 switches -->
          </div>
          {% if not request.IS_PRODUCTION %}
          <div class="row">
            <div class="span2 control-label">
              Approval Role (only available in debug): <br/>
            </div>
            <div class="span2">
              <div class="onoffswitch">
                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox hide" 
                id="approvalswitch" {% if perms.common.album_approver %} checked {% endif %} >
                <label class="onoffswitch-label" for="approvalswitch">
                  <div class="onoffswitch-inner"></div>
                  <div class="onoffswitch-switch"></div>
                </label>
              </div>
            </div>  <!-- span2 switches -->
          </div>
          {% endif %}
        </form>
      </div>


      {% if perms.common.doctor %}
      {#####################################################}
      {# Bank Account Pane                                 #}
      {#####################################################}
      <div class="tab-pane fade" id="bank_pane">
        {# List saved bank accounts #}
        {% if bank_accounts %}
          <h5>Your bank account details:</h5>
          {% for ba in bank_accounts %}
            <dl>
              <dt>
                <dd>Bank Name: {{ ba.bank_name|capfirst }}</dd>
                <dd>Name: {{ ba.name }}</dd>
                <dd>Type: {{ ba.type|capfirst }}</dd>
                <dd>Account Number: {{ ba.account_number }}</dd>
                <dd>Routing Number: {{ ba.routing_number }}</dd>
              </dt>
              <p class="uri" style='display:none;'>{{ ba.uri }}</p>
              <br/>
              <a class="btn btn-danger delete_bank_account" href="#"><i class="icon-trash icon-white"></i>Delete</a>
            </dl>
          {% endfor %}
        {% else %}
          <h3>You do not have a bank account saved. You will not be
            able to withdraw money until you add one.</h3>

          <div class="alert alert-error">
            <button class="close" data-dismiss="alert">×</button>
            <strong>Warning!</strong>
            Please be careful when entering your bank account information!
            <br/>
            Due to the nature of the ACH network, it can take up to <strong>5 business days</strong>
            for us to even find out that the transfer failed.
          </div>

          <img src="{{ STATIC_URL }}images/check_image.png">
          <br/> <br/>

          <form action="#" method="POST" id="bank-account-form" class="form-horizontal">
            <fieldset>
              <legend>Bank Account Information</legend>

              <div class="control-group">
                <label class="control-label" for="ba-name" >Account Holder's Name</label>
                <div class="controls">
                  <input type="text"
                      autocomplete="off"
                      placeholder="Bank Account Holder's name"
                      id="ba-name"
                      class="ba-name">
                </div>
              </div>

              <div class="control-group">
                <label class="control-label" for="ba-rn" >Routing Number</label>
                <div class="controls">
                  <input type="text"
                      autocomplete="off"
                      placeholder="Routing Number"
                      id="ba-rn"
                      class="ba-rn">
                </div>
              </div>

              <div class="control-group">
                <label class="control-label" for="ba-an" >Account Number</label>
                <div class="controls">
                  <input type="text"
                      autocomplete="off"
                      placeholder="Account Number"
                      id="ba-an"
                      class="ba-an">
                </div>
              </div>

              <div class="control-group">
                <label class="control-label" for="ba-acct-type" >Account Type</label>
                <div class="controls">
                  <select id="ba-acct-type">
                    <option value='' disabled selected style='display:none;'>
                    Select Account Type
                    </option>
                    <option value="checking">CHECKING</option>
                    <option value="savings">SAVINGS</option>
                  </select>
                </div>
              </div>

              <div class="control-group">
                <label class="control-label"></label>
                <div class="controls">
                  <button type="submit" class="btn btn-primary">
                    Create Account
                  </button>
                </div>
              </div>

            </fieldset>
          </form>
          <p id="error_bankaccount" class="label label-important balanced_error" style="display:none;">Invalid Bank Account Information, please try again.</p>

          {% if not request.IS_PRODUCTION %}
            {# Include some debug accounts #}
            <div class="row" style="background-color:#FFD8B5;">
              <div class="span7">
                Test Bank Accounts:<br/>
                <button id="btn-badrouting" type="submit" class="btn btn-info">Invalid Routing Number</button>
                <button id="btn-pending" type="submit" class="btn btn-warning">State -> Pending</button>
                <button id="btn-paid" type="submit" class="btn btn-danger">State -> Paid</button>
                <button id="btn-failed" type="submit" class="btn btn-success">State -> Failed</button>
              </div>
            </div>

          {% endif %}
        {% endif %}
      </div>

      {#####################################################}
      {# Merchant Underwriting Pane                        #}
      {#####################################################}
      <div class="tab-pane fade" id="merchant_pane">
        <h3>Merchant Information</h3>
        {% if is_merchant %}
          <div class="alert alert-success">
            <button class="close" data-dismiss="alert">×</button>
            We've already got your merchant info, thanks!
          </div>

        {% else %}
          <div class="alert alert-error">
            <button class="close" data-dismiss="alert">×</button>
            We're legally required to collect some information to satisfy 'Know Your Customer' and Anti-Money Laundering laws.
          </div>
          <form action="{% url 'merchant_info' %}" method="POST" id="bank-account-form" class="form-horizontal">
            {% csrf_token %}

            <div class="control-group">
              <label class="control-label">Business Type</label>
              <div class="controls">
                <label class="radio">
                  <input type="radio" name="merchant_type" id="person" value="person" checked>
                  Individual
                </label>
                <label class="radio">
                  <input type="radio" name="merchant_type" id="business" value="business">
                  Business
                </label>
              </div>
            </div>

            {########################}
            {# Business only fields #}
            {########################}
            <div class="control-group business_field" style="display:none;">
              <label class="control-label" for="business_name">
                Business Name
              </label>
              <div class="controls">
                <input type="text"
                    placeholder="John's Photography"
                    id="business_name"
                    name="business_name">
              </div>
            </div>

            <div class="control-group business_field" style="display:none;">
              <label class="control-label" for="business_street_address">
                Business Street Address
              </label>
              <div class="controls">
                <input type="text"
                  placeholder="222 Aperture Way"
                  id="business_street_address"
                  name="business_street_address">
              </div>
            </div>

            <div class="control-group business_field" style="display:none;">
              <label class="control-label" for="business_postal_code">
                Business Postal Code
              </label>
              <div class="controls">
                <input type="text"
                    placeholder="12345"
                    id="business_postal_code"
                    name="business_postal_code">
              </div>
            </div>

            <div class="control-group business_field" style="display:none;">
              <label class="control-label" for="business_phone_number">
                Business Phone Number
              </label>
              <div class="controls">
                <input type="text"
                    class="phone_number"
                    placeholder="(987) 654-3210"
                    id="business_phone_number"
                    name="business_phone_number">
              </div>
            </div>

            <div class="control-group business_field" style="display:none;">
              <label class="control-label" for="business_tax_id">
                Federal Tax Id
              </label>
              <div class="controls">
                <input type="text"
                    placeholder="211111111"
                    id="business_tax_id"
                    name="business_tax_id">
              </div>
            </div>

            {#########################################}
            {# Person fields (used for business too) #}
            {#########################################}
            <div class="control-group" >
              <label class="control-label" for="name">
                Your Name
              </label>
              <div class="controls">
                <input type="text"
                    placeholder="John Doe"
                    id="name"
                    name="name">
              </div>
            </div>

            <div class="control-group" >
              <label class="control-label" for="street_address">
                Your Street Address
              </label>
              <div class="controls">
                <input type="text"
                    placeholder="123 Cherry Lane"
                    id="street_address"
                    name="street_address">
              </div>
            </div>

            <div class="control-group" >
              <label class="control-label" for="postal_code">
                Your Postal Code
              </label>
              <div class="controls">
                <input type="text"
                  placeholder="12345"
                  id="postal_code"
                  name="postal_code">
              </div>
            </div>

            <div class="control-group" >
              <label class="control-label" for="phone_number">
                Your Phone Number
              </label>
              <div class="controls">
                <input type="text"
                    class="phone_number"
                    placeholder="(987) 654-3210"
                    id="phone_number"
                    name="phone_number">
              </div>
            </div>

            <div class="control-group" >
              <label class="control-label" for="birth_month">
                Your Birth Month
              </label>
              <div class="controls">
                <select id="birth_month" name="birth_month">
                  <option value="1">January</option>
                  <option value="2">February</option>
                  <option value="3">March</option>
                  <option value="4">April</option>
                  <option value="5">May</option>
                  <option value="6">June</option>
                  <option value="7">July</option>
                  <option value="8">August</option>
                  <option value="9">September</option>
                  <option value="10">October</option>
                  <option value="11">November</option>
                  <option value="12">December</option>
                </select>
              </div>
            </div>

            <div class="control-group" >
              <label class="control-label" for="birth_year">
                Your Birth Year
              </label>
              <div class="controls">
                <input type="text"
                    placeholder="1980"
                    id="birth_year"
                    name="birth_year">
              </div>
            </div>

            <div class="control-group">
              <label class="control-label"></label>
              <div class="controls">
                <input type="submit" name="submit" class='btn btn-primary' value="Submit" >
              </div>
            </div>

          </form>
          {% if not request.IS_PRODUCTION %}
            {# Include some debug accounts #}
            <div class="row" style="background-color:#FFD8B5;">
              <div class="span7">
                Test Merchant Info:<br/>
                <button id="btn-testmerchantinfo" type="submit" class="btn btn-info">Fill in Test Info</button>
              </div>
            </div>

          {% endif %}

        {% endif %}
      </div>
      {% endif %} {# if perms.common.doctor #}


    </div>
  </div>

{% endblock %}
{############################}

{% block scripts %}
  <script type="text/javascript">
    var marketplace_uri = '{{ marketplace_uri }}';
  </script>
  <script type="text/javascript" src="https://js.balancedpayments.com/v1/balanced.js"></script>
  {% if not request.IS_PRODUCTION %}
  {# This file will be in the directory in production, but nobody should #}
  {# see it. Even if someone found it, these cards won't work in production #}
  <script src="{{STATIC_URL}}js/debug/set_price_debugbank.js"></script>
  {% endif %}
  
  <script type="text/template" id="notification_template">
      <div class="span4">
        <%=description%> <br/>
      </div>
      <div class="span2">
        <div class="onoffemailswitch">
          <input type="checkbox" name="<%=type%>_switch" class="onoffemailswitch-checkbox hide" id="<%=type%>_switch" <% if (enabled){ %> checked <%}%>  >
          <label class="onoffemailswitch-label" for="<%=type%>_switch">
            <div class="onoffemailswitch-inner"></div>
            <div class="onoffemailswitch-switch"></div>
          </label>
        </div>
      </div>  <!-- span2 switches -->
  </script>
  {% if perms.common.doctor %}
  <script>
  $(function(){
  {% if not is_merchant %}
  <!-- Calling showStep for some reason freezes the tour, so restart and next will have to do -->
  tour.restart();
  {% elif bank_accounts|length == 0 %}
  tour.restart();
  tour.next();
  {% endif %}
  })
  </script>
  {% endif %}
{% endblock %}

