{% extends 'base.html' %}

{% block styles %}
    <link href="{{ STATIC_URL }}css/qbeforeafter.css" rel="stylesheet">
{% endblock %}

{% block topscripts %}
{% endblock %}

{% block main %}
<div id='album_app' class='row album_control' job_id='{{job_id}}'>
  <div class='span5'>
    <h1>Job #{{job_id|stringformat:"08d" }}</h1>
  </div>
  <div class='span4'>
    {% if perms.common.approve_album %}
    <button class="btn btn_approve_all btn-large btn-primary" type="button">Approve Album</button>
    {% else %}
    &nbsp;
    {% endif %}
  </div>
  <div class='span3'>
    {% if user_acceptable %}
    <a class="btn btn-large btn-primary" href="{% url 'accept_work' job_id %}">Accept Job</a>
    {% endif %}
  </div>
</div>
<div id="album_parent">
{% for group in groupings %}
<div class='row hero-unit combination'>

  <!-- so if we stick more stuff in the remote control then I'll push the group.doc_pic stuff around the download link -->
  {% if group.doc_pic and user.is_authenticated %}
  <div class='row remote_control'>
    <div class='span2'> &nbsp; </div>
    <div class='span1'> &nbsp; </div>
    <div class='span4' style="text-align:center">
      <div class='download_links'>
        <a class='btn btn-large btn-primary' href='{{ group.doc_pic.get_original_url }}'>Download Doctored Image</a>
      </div>
    </div>
    <div class='span1'> &nbsp; </div>
    <div class='span2' style="text-align:right"> &nbsp; </div>
  </div>
  {% endif %}

  <br />

  <div id="userpicdiv{{group.group_id}}" class='row center'>
    {% if not group.doc_pic %}
      {% with group.user_pics.0 as before %}
        <div id="userpic{{group.group_id}}" class='span10' style="background:url({{ before.get_preview_url }}) no-repeat center center;height:{{before.preview_height}}px" ></div>
      {% endwith %}
    {% else %}
      <div class='picbeforeafter span10' style="height:{{group.max_height}}px;width:{{group.max_width}}px;">
        {% with group.user_pics.0 as before %}
          <img src="{{ before.get_preview_url }}" width={{before.preview_width}} height={{before.preview_height}} alt="User's Picture">
        {% endwith %}

        {% with group.doc_pic as after %}
          <img src="{{ after.get_preview_url }}" width={{after.preview_width}} height={{after.preview_height}} alt="Doctor's Picture">
        {% endwith %}
      </div>
    {% endif %}
  </div>

  {% if group.user_pics|length > 1 %}
    <div class='row'>
      {% for pic in group.user_pics %}

        {# This is one div. It's complicated #}
        {# If I get a free moment with real internet, I want to assign those onclicks with backbone #}
        {% if pic.preview_height > pic.preview_width %}
          <div style="background:url({{ pic.get_preview_url }}) no-repeat center center;background-size: {% widthratio pic.preview_width pic.preview_height 90 %}px 90px;height:90px;width:90px;float:left;border:1px solid black;margin:1px;cursor:pointer" 
        {% else %}
          <div style="background:url({{ pic.get_preview_url }}) no-repeat center center;background-size: 90px {% widthratio pic.preview_height pic.preview_width 90 %}px;height:90px;width:90px;float:left;border:1px solid black;margin:1px;cursor:pointer;"
        {% endif %}
        {% if not group.doc_pic %}
          onclick="replace_normal_user_pic(this, 'userpic{{ group.group_id}}')"
        {% else %}
          onclick="replace_fancy_user_pic(this, 'userpicdiv{{ group.group_id}}')"
        {% endif %}
          data-height="pic.preview_height" data-pic="{{pic.get_preview_url }}" > </div>

      {% endfor %}
    </div>
  {% endif %}

  <div class='span10 contact_arena'>
    <script type='application/json' class='previous_messages'>
      {{group.messages|safe}}
    </script>
    <div class='row'>
      <div class='message_arena'>
      </div>
      <br />
      <div class='message_input_arena span10'>
        <textarea class='message_input autosize-textarea span9 center' style="margin-left:auto" username='{{ request.email }}' group_id='{{ group.group_id }}' job_id='{{job_id}}' >Write your message here</textarea>
      </div>
    </div>
  </div>

  {% if shareable %}
  <div style="float:right;padding-top:20px;">
    {% if not is_public %}
    <a class='gallery_not_public' style="cursor:pointer" onclick="make_album_shareable(this, {{ job_id }})">Click here to make album public (for sharing)</a>
    <span id="gallery_now_public"></span>
    {% endif %}
    <span class='st_facebook_large' displayText='Facebook'></span>
    <span class='st_twitter_large' displayText='Tweet'></span>
    <span class='st_linkedin_large' displayText='LinkedIn'></span>
    <span class='st_pinterest_large' displayText='Pinterest'></span>
    <span class='st_instagram_large' displayText='Instagram Badge' st_username='picdoctors'></span>
    <span class='st_googleplus_large' displayText='Google +'></span>
  </div>
  {% endif %}

</div>
{% endfor %}
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "834ab02a-7243-4360-ba55-32744c1956c1", doNotHash: true, doNotCopy: true, hashAddressBar: false});</script>

<script src="{{ STATIC_URL }}js/json2.js"></script>
<script src="{{ STATIC_URL }}js/underscore.js"></script>
<script src="{{ STATIC_URL }}js/backbone.js"></script>
<script src="{{ STATIC_URL }}js/album.js"></script>
<script>
  var is_owner = {{ is_owner|lower }};
</script>
<script src="{{ STATIC_URL }}js/contact.js"></script>
<script src="{{ STATIC_URL }}js/jquery.qbeforeafter.js"></script>
<script src="{{ STATIC_URL }}js/shared.js"></script>
<script type="text/template" id="message_template">
  <div class='message_message'><span ><%= message %></span></div>
  <div class='message_commentor'><%= commentor %> </div><div class='message_created'><%=created%></div>

  <div style='clear:both'></div>
</script>
{% endblock %}

