{% extends 'base.html' %}
{% load picdoctags %}

{% block styles %}
<link href="{{ STATIC_URL }}css/qbeforeafter.css" rel="stylesheet">
{% endblock %}

{% block main %}
<div id='album_app' class='row album_control' job_id='{{job_id}}'>
  <div class='span5'>
    <h1>Job #{{job_id|stringformat:"08d" }}</h1>
  </div>
  <div class='span5'>
    {% if perms.common.album_approver %}
      {% if needs_moderation %}
        <button class="btn btn_approve_all btn-large btn-primary" type="button">Approve Album</button>
        <a href="{% url 'mod_reject_work' job_id %}" class="btn btn_reject_all btn-large btn-primary" type="button">Reject Album</a>
        <a href="{% ember_url 'album_markupview' album_id=album.id %}">View job</a>
      {% else %}
        <div class='alert alert-info'> Moderator - Job Status: {{job_status}}</div>
      {% endif %}
    {% endif %}
  </div>
  <div class='span2'>
    {% if user_acceptable %}
    <a class="btn btn-large btn-primary" href="{% url 'accept_work' job_id %}">Accept Job</a>
    {% endif %}
  </div>
</div>
<div id="album_parent">
  {% for group in groupings %}
  <div class='row hero-unit combination'>
    <a name='{{group.group_id}}'></a>

    <!-- so if we stick more stuff in the remote control then I'll push the group.doc_pic stuff around the download link -->
    {% if group.doc_pic and user.is_authenticated %}
    <div class='row remote_control'>
      <div class='float-left'>
        <div class='download_links center'>
          <a id="download_original" download class='btn btn-large btn-primary' href='{{ group.doc_pic.get_original_url }}'>Download Doctored Image</a>
        </div>
      </div>
      <div class='float-right' >

      {% if shareable %}
        <div >
          {% if not is_public %}
            <a class='gallery_not_public' style="cursor:pointer;line-height:40px;" onclick="make_album_shareable(this, {{ job_id }})">Click here to make this album public</a>
            <span id="gallery_now_public"></span>
          {% endif %}
          <div class='tw-share-crap float-right'>
            <a href="https://twitter.com/share" class="twitter-share-button" data-text="Doctored Images" data-url="{{share_url}}#{{group.group_id}}" data-via="picdoctors">Tweet</a>
          </div>
          <div class='fb-share-crap float-right'>
            <div class="fb-like" data-href="{{share_url}}#{{group.group_id}}" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
          </div>
          <div class='pin-share-crap float-right'>
            <a href="//www.pinterest.com/pin/create/button/?url={{share_url}}#{{group.group_id}}&media={{pic.get_preview_url}}&description=PicDoctors" data-pin-do="buttonPin" data-pin-config="beside"><img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_gray_20.png" /></a>
          </div>
        </div>
      {% endif %}


      </div>
    </div>
    {% endif %}

    <br />

    <div class="row alert alert-info">
      Move your mouse back and forth (or click) to see the photo before and after editing.
    </div>

    <div id="userpicdiv{{group.group_id}}" class='row center'>
      {% if not group.doc_pic %}
      {% with group.user_pics.0 as before %}
      <div id="userpic{{group.group_id}}" class='span10' style="background:url({{ before.get_preview_url }}) no-repeat center center;height:{{before.preview_height}}px" ></div>
      {% endwith %}
      {% else %}
      <div class='picbeforeafter span10' style="height:{{group.max_height}}px;width:{{group.max_width}}px;">
        {% with group.user_pics.0 as before %}
        <img src="{{ before.get_preview_url }}" width={{before.preview_width}} height={{before.preview_height}} alt="User's Picture">
        {% endwith %}

        {% with group.doc_pic as after %}
        <img src="{{ after.get_preview_url }}" width={{after.preview_width}} height={{after.preview_height}} alt="Doctor's Picture">
        {% endwith %}
      </div>
      {% endif %}
    </div>

    {% if group.user_pics|length > 1 %}
    <div class='row'>
      {% for pic in group.user_pics %}

      {# This is one div. It's complicated #}
      {# If I get a free moment with real internet, I want to assign those onclicks with backbone #}
      {% if pic.preview_height > pic.preview_width %}
      <div style="background:url({{ pic.get_preview_url }}) no-repeat center center;background-size: {% widthratio pic.preview_width pic.preview_height 90 %}px 90px;height:90px;width:90px;float:left;border:1px solid black;margin:1px;cursor:pointer"
        {% else %}
        <div style="background:url({{ pic.get_preview_url }}) no-repeat center center;background-size: 90px {% widthratio pic.preview_height pic.preview_width 90 %}px;height:90px;width:90px;float:left;border:1px solid black;margin:1px;cursor:pointer;"
          {% endif %}
          {% if not group.doc_pic %}
          onclick="replace_normal_user_pic(this, 'userpic{{ group.group_id}}')"
          {% else %}
          onclick="replace_fancy_user_pic(this, 'userpicdiv{{ group.group_id}}')"
          {% endif %}
          data-height="pic.preview_height" data-pic="{{pic.get_preview_url }}" >
        </div>

        {% endfor %}
      </div>
      {% endif %}

    </div>
    {% endfor %}
  </div>

  {% endblock %}

  {% block scripts %}
  {% if shareable %}

  <!-- include the share link js only when we need it -->
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
var js, fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) return;
js = d.createElement(s); js.id = id;
js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  <!-- Please call pinit.js only once per page -->
  <script type="text/javascript" async src="//assets.pinterest.com/js/pinit.js"></script>
  <!-- Done with share link crap -->

  {% endif %}

  <script>
var is_owner = {{ is_owner|lower }};
  </script>
  {% endblock %}

