<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Custom Retouching - PicDoctors{% endblock %}</title>
    <meta name="description" content="Custom Retouching">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    {% load compressed %}
    {% compressed_css 'all_css' %}

    <link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.ico">

  </head>

  <body>
    <div class="container">
      <div id="navbar" class="row">
        <div class="span12" style="line-height: 20px">
          <div style="float:left; display:inline; margin-top:4px;">
            <div style="float:left; display:inline;">
              <a href="/"><img src="{{ STATIC_URL }}images/logo.png"/></a>
            </div>
          </div>

          <div style="float:right; display:inline;">
            <ul class="nav nav-pills">
              <!-- <li><a href="{% url 'howitworks' %}"><i class="icon-picture"></i> How It Works</a></li>-->
              <li><a href="{% url 'faq' %}"><i class="icon-info-sign"></i> FAQ</a></li>
              <li><a id='feedback_link'
                     class="feedback" 
                     data-original-title="Enter your feedback:"
                     rel="popover"
                     data-placement="bottom"
                     data-trigger="manual"
                     href="#" ><i class="icon-comment"></i> Feedback</a>
              </li>

              {% if request.has_cart %}
              <li id="cart_li">
                <a id='cart_link'
                   class="cart" 
                   data-original-title="Pictures in your cart:"
                   rel="popover"
                   data-placement="bottom"
                   data-html="true"
                   data-trigger="manual"
                   album-pics-url={{ request.async_album_info_url }}
                   href="#" >
                   <i class="icon-shopping-cart"></i>
                   <span id="cart_count">
                     ({{ request.pic_count }} Pics)
                   </span>
                </a>
              </li>
              {% endif %}

              {% if not user.is_authenticated %}
              <li><a href="{% url 'doc_home' %}"><i class="icon-edit"></i> Become a Pic Doctor</a></li>
              {% endif %}

              {% if not user.is_authenticated %}
                <li><a href="{% url 'skaa_signin' %}"><i class="icon-user"></i> Log In</a></li>
              {% else %}
                {% if not perms.common.doctor and not perms.common.album_approver and perms.common.skaa %}
                  <li><a href="{% url 'job_page' %}"><i class="icon-tasks"></i> My Jobs</a></li>
                {% else %}
                  <li class="dropdown">
                    <a class="dropdown-toggle"
                       data-toggle="dropdown"
                       href="#">
                        <i class="icon-tasks"></i> Jobs
                        <b class="caret"></b>
                      </a>
                    <ul class="dropdown-menu">
                      {% if perms.common.doctor %}
                        <li><a href="{% url 'new_job_page' %}"><i class="icon-star"></i> Available (Market)</a></li>
                        <li><a href="{% url 'doc_job_page' %}"><i class="icon-tasks"></i> To Do (Doctor)</a></li>
                      {% endif %} 
                      {% if perms.common.skaa %}
                        <li><a href="{% url 'job_page' %}"><i class="icon-tasks"></i> Mine (End User)</a></li>
                      {% endif %} 
                      {% if perms.common.album_approver %}
                        <li><a href="{% url 'album_approval_page' %}"><i class="icon-lock"></i> Needing Approval</a></li>
                      {% endif %}
                    </ul>
                  </li>
                {% endif %}
                {% if request.notifications|length > 0 %}
                <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-envelope"></i> ({{ request.new_notification_cnt}})<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                {% for n in request.notifications %}
                {% if n.viewed %}
                <li><a href="{% url 'notification_redirecter' n.id %}">{{n.description}}</a></li>
                {% else %}
                <li><a style="background-color:lightcyan" href="{% url 'notification_redirecter' n.id %}">{{n.description}}</a></li>
                {% endif %}
                {% endfor %}
                  </ul>
                </li>
                {% endif %}
                <li class="dropdown">
                  <a class="dropdown-toggle"
                     data-toggle="dropdown"
                     href="#">
                      <i class="icon-user"></i> {{user.email }}
                      <b class="caret"></b>
                    </a>
                  <ul class="dropdown-menu">
                    {% if perms.common.doctor %}
                    <li><a href="{% url 'withdraw' %}"><i class="icon-shopping-cart"></i> Withdraw Earnings</a></li>
                    {% endif %}
                    <li><a href="{% url 'account_settings' %}"><i class="icon-cog"></i> Account Settings</a></li>
                    <li><a href="{% url 'signout' %}"><i class="icon-user"></i> Log Out</a></li>
                  </ul>
                </li>

              {% endif %}
            </ul>
          </div>
        </div>
      </div>

      {% block main %}
      {% endblock %}

      <hr>
      <footer>
        <p>&copy; PicDoctors LLC
        {% if not request.IS_PRODUCTION%}
        <span style="color:hotpink;background-color:black;">This is a {{ request.DEPLOY_TYPE}} instance, not a production server. </span>
        {% endif %}
        </p>
      </footer>
    </div>

    {% compressed_js 'all_js' %}

    {% block scripts %}
    {% endblock %}


    <script type="text/template" id="feedback_form">
      <div>
        From:
        <input class="feedback_from" type='text' id='feedback_from_textarea' value='{% if user.is_authenticated %}{{ user.email }}{% endif %}'>
      </input>
        Feedback:
        <textarea id='feedback_textarea' class="feedback_textarea" ></textarea>
        <br />
        <div class='feedback_buttonarea'>
          <button class='btn btn-primary feedback_submit'>Submit Feedback</button>
        </div>
      </div>
    </script>
    <script type="text/template" id="feedback_thanks">
      <div>
        <H3 class='text-success'>Thank You</H3>
      </div>
    </script>
    <script type="text/template" id="feedback_thanks_but">
      <div>
        <H4 class='text-error'>We suffered an error.</H4>
      </div>
    </script>

    <script type="text/template" id="cart_form">
      <div id="iso_cart">
        <p>Loading...</p>
      </div>
    </script>

    {% csrf_token %}
  </body>
</html>

