{% load picdoctags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Custom Photo Retouching - PicDoctors{% endblock %}</title>
    <meta name="description" content="Custom Photo Retouching">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    {% load compressed %}
    {% compressed_css 'all_css' %}

    <link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.ico">

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-41194123-1', 'picdoctors.com');
      ga('send', 'pageview');

    </script>

    <script>
      // intentionall global
      var picDocStaticUrl = "{{ STATIC_URL }}";
      var stripeClientId = "{{ request.STRIPE_CLIENT_ID }}";
      {% if request.IS_PRODUCTION%}
      var picDocProduction = true;
      {% else %}
      var picDocProduction = false;
      {% endif %}
    </script>

  </head>

  <body>
    <div class="container">
      <div id="navbar" class="row">
        <div class="span12" style="line-height: 20px">
          <div style="float:left; display:inline; margin-top:4px;">
            <div style="float:left; display:inline;">
              <a href="/"><img src="{{ STATIC_URL }}images/logo.png"/></a>
            </div>
          </div>

          {% block navpills %}
          <div style="float:right; display:inline;">
            <ul class="nav nav-pills">
              <!-- <li><a href="{% url 'howitworks' %}"><i class="icon-picture"></i> How It Works</a></li>-->
              <li><a href="{% url 'faq' %}"><i class="icon-info-sign"></i> FAQ</a></li>
              {% if perms.common.doctor %}
              <li><a href="{% url 'doc_faq' %}"><i class="icon-info-sign"></i> Doctor FAQ</a></li>
              {% endif %}
              <li><a id='feedback_link'
                     class="feedback"
                     data-original-title="Enter your feedback:"
                     rel="popover"
                     data-placement="bottom"
                     data-trigger="manual"
                     href="" ><i class="icon-comment"></i> Feedback</a>
              </li>

              {% if request.has_cart %}
              <li id="cart_li">
                <a id='cart_link'
                   class="cart"
                   data-original-title="Pictures in your cart:"
                   rel="popover"
                   data-placement="bottom"
                   data-html="true"
                   data-trigger="manual"
                   album-pics-url={{ request.async_album_info_url }}
                  href="">
                   <i class="icon-shopping-cart"></i>
                   <span id="cart_count">
                     ({{ request.pic_count }} Pics)
                   </span>
                </a>
              </li>
              {% endif %}

              {% comment %}
              ballen 06/03/2014 -- we have a link at the bottom, and I think that's enough. Doctors
              will look around for the link -- they do it pretty well on other comparable sites. I think
              it's worth removing the distraction for users. I'll A/B test it later.
              {% if not user.is_authenticated %}
              <li><a href="{% url 'doc_home' %}"><i class="icon-edit"></i> Become a Pic Doctor</a></li>
              {% endif %}
              {% endcomment %}

              {% if not user.is_authenticated %}
                <li><a href="{% url 'skaa_signin' %}"><i class="icon-user"></i> Log In</a></li>
              {% else %}
                {% if not perms.common.doctor and not perms.common.album_approver and perms.common.skaa and not perms.common.admin %}
                  <li><a href="{% url 'job_page' %}"><i class="icon-tasks"></i> My Jobs</a></li>
                {% else %}
                  <li class="dropdown">
                    <a class="dropdown-toggle"
                       data-toggle="dropdown"
                       href="#">
                        <i class="icon-tasks"></i> Jobs
                        <b class="caret"></b>
                      </a>
                    <ul class="dropdown-menu">
                      {% if perms.common.doctor %}
                        <li><a href="{% url 'new_job_page' %}"><i class="icon-star"></i> Available (Market)</a></li>
                        <li><a href="{% url 'doc_job_page' %}"><i class="icon-tasks"></i> To Do (Doctor)</a></li>
                      {% endif %}
                      {% if perms.common.skaa %}
                        <li><a href="{% url 'job_page' %}"><i class="icon-tasks"></i> Mine (End User)</a></li>
                      {% endif %}
                      {% if perms.common.album_approver %}
                        <li><a href="{% url 'album_approval_page' %}"><i class="icon-lock"></i> Needing Approval</a></li>
                      {% endif %}
                      {% if perms.common.admin%}
                        <li><a href="{% url 'admin_job_page' 1 %}"><i class="icon-lock"></i> Admin Jobs</a></li>
                      {% endif %}
                    </ul>
                  </li>
                {% endif %}

                {% if request.notifications|length > 0 %}
                  <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#"
                    {% if request.new_notification_cnt > 0 %}
                    style="color:red;"
                    {% endif %}>
                    <i class="icon-envelope"></i> <span id='notification_count'>({{ request.new_notification_cnt }})</span><b class="caret"></b>
                  </a>
                    <ul class="dropdown-menu">
                    {% if request.new_notification_cnt > 0 %}
                      <li class='clearAllNotifications'><a href="#" id='clearAllNotifications'>Mark all as read</a></li>
                    {% endif %}

                  {% for n in request.notifications %}
                    {% if n.viewed %}
                    <li><a class='notification-class' data-notification_id='{{n.id}}' href="{% url 'notification_redirecter' n.id %}">{{n.description}}</a></li>
                    {% else %}
                      <li><a class='notification-class unread' data-notification_id='{{n.id}}' href="{% url 'notification_redirecter' n.id %}">{{n.description}}</a></li>
                    {% endif %}
                  {% endfor %}
                    </ul>
                  </li>
                {% endif %}

                <li class="dropdown">
                  <a class="dropdown-toggle"
                     data-toggle="dropdown"
                     href="#"
                     title='{{user.nickname}}'>
                      <i class="icon-user"></i> {{user.nickname|truncatechars:10}}
                      <b class="caret"></b>
                    </a>
                  <ul class="dropdown-menu">
                    <li><a href="{% ember_url 'account_settings' %}"><i class="icon-cog"></i> Account Settings</a></li>
                    <li><a href="{% url 'signout' %}"><i class="icon-user"></i> Log Out</a></li>
                  </ul>
                </li>

              {% endif %}
            </ul>
          </div>
          {% endblock %} {# navpills #}
        </div>
      </div>

      {% block main %}
      {% endblock %}

      <hr>
      <footer id="footer">
      <p>
        &copy; PicDoctors LLC
        {% block bottomlinks %}
        - {# Dash to separate #}
        <a href="{% url 'privacy_policy' %}">Privacy Policy</a> -
        <a href="{% url 'terms_of_service' %}">Terms of Service</a> -
        <a href="{% url 'doc_home' %}">For Doctors</a>
        {% endblock %} {# bottomlinks #}

        {% if not request.IS_PRODUCTION%}
        <span style="color:hotpink;background-color:black;">This is a {{ request.DEPLOY_TYPE}} instance, not a production server. </span>
        {% endif %}
      </p>
      </footer>
    </div>

     <!--script src="http://localhost:8000/static/compressed/all.js"-->
    {% compressed_js 'pd_jslibs' %}
    {% compressed_js 'pd_js' %}

    {% block scripts %}
    {% endblock %}

    {% load staticfiles %}
    {% load compress %}

    {% load precompiler %}
    {% insert_templates %}


    <script type="text/template" id="feedback_form">
      <div>
        From:
        <input class="feedback_from" type='text' id='feedback_from_textarea' value='{% if user.is_authenticated %}{{ user.email }}{% endif %}'>
      </input>
        Feedback:
        <textarea id='feedback_textarea' class="feedback_textarea" ></textarea>
        <br />
        <div class='feedback_buttonarea'>
          <button class='btn btn-primary feedback_submit'>Submit Feedback</button>
        </div>
      </div>
    </script>
    <script type="text/template" id="feedback_thanks">
      <div>
        <H3 class='text-success'>Thank You</H3>
      </div>
    </script>
    <script type="text/template" id="feedback_thanks_but">
      <div>
        <H4 class='text-error'>We suffered an error.</H4>
      </div>
    </script>

    <script type="text/template" id="cart_form">
      <div id="iso_cart">
        <p>Loading...</p>
      </div>
    </script>

    {% csrf_token %}
  </body>
</html>

