{% extends 'base.html' %}

{% block main %}
<div id="contact_app" class='row'>
  <h1>Questions and Answers concerning job #{{job_id|stringformat:"08d" }}</h1>
</div>
<div class='row'>
  <div class='span12 contact_arena'>
    <script type='application/json' class='previous_messages'>
      {{job_messages|safe}}
    </script>
    <div class='row'>
      <div class='message_arena'>
      </div>
      <div class='message_input_arena'>
          <textarea class='message_input autosize-textarea' username='{{request.user.nickname }}' group_id='' job_id='{{job_id}}' >Write your message here</textarea>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script>
  var is_owner = {{ is_owner|lower }};
</script>
<script type="text/template" id="message_template">
  <div class='message_message'><span><%= message %></span></div>
  <div class='message_commentor'><%= commentor %> </div><div class='message_created'><%=created%></div>

  <div style='clear:both'></div>
</script>
{% endblock %}

