{% extends 'base.html' %}

{% block main %}
<div class='row'>
  <div class="span4 offset4 well">

    <legend>
      Spam emails
    </legend>
    <form method="POST" action="" accept-charset="UTF-8">
      {% csrf_token %}
      <label>
        Enter your spam email victim:
        <input type="text" id="email" class="span4" name="email"
          placeholder="Email Address" value="{{ prefilled_email }}" >
      </label>
      <label>
        <input type="checkbox" id="reset_password" name="reset_password" {{ reset_password }}>
        Reset password email
      </label>
      <label>
        <input type="checkbox" id="send_feedback" name="send_feedback" {{ send_feedback }}>
        Send feedback
      </label>
      <label>
        <input type="checkbox" id="job_price_too_low" name="job_price_too_low" {{ job_price_too_low }}>
        Job price too low
      </label>
      <label>
        <input type="checkbox" id="new_job" name="new_job" {{ new_job }}>
        New Job
      </label>
      <button type="submit" name="submit" class="btn btn-info btn-block">Submit</button>
    </form>    
    <br/>
    {% if success %}
      <div class="alert alert-info">
        <a class="close" data-dismiss="alert" href="#">×</a>
        Your spam has been sent.
      </div>
    {% endif %}
    {% if email_error %}
      <div class="alert alert-error">
        <a class="close" data-dismiss="alert" href="#">×</a>
        Uh, oh. Something's broked. Did you forget your email?
      </div>
    {% endif %}
  </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}

