{% extends 'base.html' %}

{% block main %}
<div id="doc_terms_of_service">
  <h4>Pic Doctor Terms of Service:</h4>
  <p>
    Pending.

    {% comment %}
    below stolen from 99 designs
All payment will be in the local currency based on the location of the Site. You agree that you are responsible for the collection and/or payment of all Taxes which you may be liable for in any jurisdiction arising from your sale or purchase of any Sold Designs via the Site. 99designs is not responsible for collecting, reporting, paying, or remitting to you any such Taxes. “Taxes” means any applicable duties, sales taxes, GST, VAT or other taxes which may be levied in respect of a transaction contemplated by this Agreement.
    {% endcomment %}
  </p>
</div>
{% endblock %}
