{% extends 'base.html' %}

{% load picdoctags %}

{% block main %}
<div id='doc_faq' class='row faq'>

  <h3>Pic Doctor Frequently Asked Questions</h3>

  <div class='row'>
    <div class='span8'>
      <p class='question'>Who can become a Pic Doctor?</p>
      <p class='answer'>
      Due to restrictions from our payments provider, you must be a US resident with a bank account to become
      a Pic Doctor. We hope that this changes in the coming months!
      </p>
    </div>
  </div>
  <div class='row'>
    <div class='span8'>
      <p class='question'>How does it work?</p>
      <p class='answer'>
      We've got a full page to answer that question <strong><a href="{% url 'howitworks' %}">here</a></strong>.
      </p>
    </div>
  </div>
  <div class='row'>
    <div class='span8'>
      <p class='question'>How much am I paid?</p>
      <p class='answer'>
      Between 50% and 70% of the total.  Your possible payout is calculated when you take a job. Two factors impact your cut:
      </p>
      <ul class='answer'>
        <li>Number of pictures accepted by users in the last 30 days</li>
        <li>Your average rating</li>
      </ul>
      </p>
      <table class="answer table table-striped">
        <thead>
          <tr>
            <td><h6>Doctor Tier</h6></td>
            <td><h6>Pics accepted in last 30 days</h6></td>
            <td><h6>Base payout</h6></td>
            <td><h6>+Avg rating</h6></td>
            <td><h6>Maximum Possible</h6></td>
          </tr>
        </thead>
        <tbody>
          <tr><td>Tier 1</td><td>0-19</td><td>50%</td><td></td><td>50%</td></tr>
          <tr><td>Tier 2</td><td>20-39</td><td>55%</td><td>1-5%</td><td>60%</td></tr>
          <tr><td>Tier 3</td><td>40-69</td><td>60%</td><td>1-5%</td><td>65%</td></tr>
          <tr><td>Tier 4</td><td>70+</td><td>65%</td><td>1-5%</td><td>70%</td></tr>
        </tbody>
      </table>
      </p>
    </div>
  </div>
  <div class='row'>
    <div class='span8'>
      <p class='question'>Why am I paid so little?</p>
      <p class='answer'>The remaining money covers lots of other expenses:<p>
      <ul class='answer'>
        <li>Credit card processing fees (up to 18% of a total transaction)</li>
        <li>Bank transfer fees for the money that you earn</li>
        <li>Advertising costs to supply easy work</li>
        <li>Hosting costs</li>
        <li>Employee costs</li>
      </ul>
      <p class='answer'>We hope that you'll find PicDoctors to be easy enough to use to be worth it.</p>
    </div>
  </div>
  <div class='row'>
    <div class='span8'>
      <p class='question'>How am I protected as a Doctor?</p>
      <p class='answer'>
      As a doctor we protect you by watermarking your images until a user has accepted your work as
      valid and complete.  Likewise we've put a hold on the user's account to verify that they can pay
      for the work.
      </p>
    </div>
  </div>
  <div class='row'>
    <div class='span8'>
      <p class='question'>What is a merchant account, and why do I need it?</p>
      <p class='answer'>
       For an in depth look at merchant accounts
       <u><a href='http://en.wikipedia.org/wiki/Merchant_account'>view the wikipedia page here.</a></u>
       Essentially a merchant account allows you to accept payment from a user.  This is how you as a
       doctor will receive your payments.  It's fully integrated into our site so you don't have to
       navigate between our site and our payment processing partner.
      </p>
    </div>
  </div>
  <div class='row'>
    <div class='span8'>
      <p class='question'>Who can see my work?</p>
      <p class='answer'>
      Right now, the job can only be seen if the user allows sharing.
      </p>
    </div>
  </div>
  <div class='row'>
    <div class='span8'>
      <p class='question'>What happens if the user isn't happy with my work?</p>
      <p class='answer'>
      We encourage users to request modifications to your work, but they have the option of
      returning the job to the market. If this happens, you won't be paid. We hope it doesn't
      happen often!
      </p>
    </div>
  </div>
  <div class='row'>
    <div class='span8'>
      <p class='question'>Can I communicate with the user?</p>
      <p class='answer'>
      Yep. Just use the 'comments' below the pictures, and we'll notify them.
      </p>
    </div>
  </div>
  <div class='row'>
    <div class='span8'>
      <p class='question'>How do I withdraw my earnings?</p>
      <p class='answer'>
      Just visit <a href="{% url 'withdraw' %}">the withdraw page</a> and have
      the money transferred to your account. The minimum amount that you can
      withdraw at a time is {{ minimum_withdraw | currency_dollars }}.
      </p>
    </div>
  </div>

</div>
{% endblock %}

{% block scripts %}
{% endblock %}

