{% extends 'base.html' %}

{% load picdoctags %}

{% block main %}
<div id='doc_faq' class='row faq'>

  <h3>Frequently Asked Questions for Pic Doctors</h3>

  <div class='row'>
    <div class='span8'>
      <a class='question'>Who can become a Pic Doctor?</a>
      <div class='answer'>
        <p>Anyone in a <a href="https://stripe.com/global" target="_blank">country where you can create a Stripe account</a>. At the time of this
        writing, that list is:</p>
        <ul>
          <li>United States</li>
          <li>Australia</li>
          <li>Belgium</li>
          <li>Canada</li>
          <li>Finland</li>
          <li>France</li>
          <li>Germany</li>
          <li>Ireland</li>
          <li>Luxembourg</li>
          <li>Netherlands</li>
          <li>Spain</li>
          <li>United Kingdom</li>
        </ul>
        <p>Stripe is constantly adding more countries, so check back if your country is not listed.</p>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='span8'>
      <a class='question'>How does it work?</a>
      <p class='answer'>
      We've got a full page to answer that question <strong><a href="{% url 'howitworks' %}">here</a></strong>.
      </p>
    </div>
  </div>
  <div class='row'>
    <div class='span8'>
      <a class='question'>How much am I paid?</a>
      <p class='answer'>
      Between 50% and 70% of the amount offered by the user.  Your possible payout is calculated when you take a job. Two factors impact your cut:
      </p>
      <ul class='answer'>
        <li>Number of pictures accepted by users in the last 30 days</li>
        <li>Your average rating</li>
      </ul>
      <table class="answer table table-striped">
        <thead>
          <tr>
            <td><h6>Doctor Tier</h6></td>
            <td><h6>Pics accepted in last 30 days</h6></td>
            <td><h6>Base payout</h6></td>
            <td><h6>+Avg rating</h6></td>
            <td><h6>Maximum Possible</h6></td>
          </tr>
        </thead>
        <tbody>
          <tr><td>Tier 1</td><td>0-19</td><td>50%</td><td></td><td>50%</td></tr>
          <tr><td>Tier 2</td><td>20-39</td><td>55%</td><td>1-5%</td><td>60%</td></tr>
          <tr><td>Tier 3</td><td>40-69</td><td>60%</td><td>1-5%</td><td>65%</td></tr>
          <tr><td>Tier 4</td><td>70+</td><td>65%</td><td>1-5%</td><td>70%</td></tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class='row'>
    <div class='span8'>
      <a class='question'>Why am I paid so little?</a>
      <p class='answer'>The remaining money covers lots of other expenses:</p>
      <ul class='answer'>
        <li>Credit card processing fees (up to 18% of a total transaction)</li>
        <li>Bank transfer fees for the money that you earn</li>
        <li>Advertising costs to supply work</li>
        <li>Hosting costs</li>
        <li>Employee costs</li>
      </ul>
      <p class='answer'>We hope that you'll find PicDoctors to be easy enough to use to be worth it.</p>
    </div>
  </div>
  <div class='row'>
    <div class='span8'>
      <a class='question'>How am I protected as a Doctor?</a>
      <p class='answer'>
      As a doctor we protect you by watermarking your images until a user has accepted your work as
      valid and complete.  Likewise we've put a hold on the user's account to verify that they can pay
      for the work.
      </p>
    </div>
  </div>
  <div class='row'>
    <div class='span8'>
      <a class='question'>What is a Stripe account, and why do I need it?</a>
      <p class='answer'>
      Stripe is the company that provides our payments infrastructure. Since PicDoctors is a connecting
      users and doctors, we're subject to quite a few legal restrictions with the way we handle money.
      Stripe makes it possible for us to handle these payments.

      When you <a href="/doc_signin/?next=/home/#/settings/payments">create your Doctor account</a>
      you'll be prompted to create a stripe account. Your PicDoctors account and your Stripe account
      will be automatically linked together so we can send you money as soon as you are ready.
      </p>
    </div>
  </div>
  <div class='row'>
    <div class='span8'>
      <a class='question'>Who can see my work?</a>
      <p class='answer'>
      Right now, the job can only be seen if the user allows sharing.
      </p>
    </div>
  </div>
  <div class='row'>
    <div class='span8'>
      <a class='question'>What happens if the user isn't happy with my work?</a>
      <p class='answer'>
      We encourage users to request modifications to your work, but they have the option of
      returning the job to the market. If this happens, you won't be paid. We hope it doesn't
      happen often!
      </p>
    </div>
  </div>
  <div class='row'>
    <div class='span8'>
      <a class='question'>Can I communicate with the user?</a>
      <p class='answer'>
      Yep. Just use the 'comments' below the pictures, and we'll notify them.
      </p>
    </div>
  </div>
  <div class='row'>
    <div class='span8'>
      <a class='question'>How do I withdraw my earnings?</a>
      <p class='answer'>
      It will be in your stripe account. You can set your stripe account up to automatically deposit into your bank account.
      </p>
    </div>
  </div>

</div>
{% endblock %}

{% block scripts %}
{% endblock %}

