{% extends "base.html" %}

{% block main %}
  <div class="row">
    <div class="span12">
      <div class="hero-unit">
        <h1>Earn Money with Adobe Photoshop</h1>
        <p>Edit pictures to earn money from your own home</p>
        <p>
          <a id="become_doc_btn" class="btn btn-primary btn-large"
            href="/doc_signin/?next=/account_settings/#merchant_tab">Become a Doctor</a>
          <a class="btn btn-large btn-info" onclick="begin_tour()">Learn More &raquo;</a>
        </p>
      </div>

      <div class="row">
        <div class="span3">
          <img class="icon" src="{{ STATIC_URL }}images/binoculars.png">
          <h2>1. Find a job</h2>
          <p>Browse available jobs. When you find one that you like, accept that
          job to lock it.</p>
        </div>
        <div class="span3">
          <img class="icon" src="{{ STATIC_URL }}images/pencil.png">
          <h2>2. Edit the picture</h2>
          <p>Follow the description. You can contact the owner if you need clarification. Then upload
          your picture.</p>
        </div>
        <div class="span3">
          <img class="icon" src="{{ STATIC_URL }}images/approve.png">
          <h2>3. Wait for their approval</h2>
           <p>The owner may ask for further modifications before approving your work.</p>
       </div>
        <div class="span3">
          <img class="icon" src="{{ STATIC_URL }}images/money.png">
          <h2>4. Receive payment</h2>
           <p>Once the owner's approved your work, your account will be credited.  You can
           choose when to withdraw your funds to your personal bank account.</p>
       </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
<script src="{{ STATIC_URL }}js/settings_tour.js"></script>
<script src="{{ STATIC_URL }}tour/bootstrap-tour.js"></script>
<script src="{{ STATIC_URL }}tour/deps/jquery.cookie.js"></script>
{% endblock %}
