{% extends 'base.html' %}

{% block main %}


<div id="doctor_profile" class="row">

  {% if not doctor_exists %}

    <div class="row">
      <div class="span2"> &nbsp; </div>
      <h2 class="text-center">Doctor profile page not found!</h2>
    </div>

  {% else %}

    <div class="row">
      <div class="span1"> &nbsp; </div>
      <div class="span8">
        <h2>{{ nickname }}</h2>
      </div>
    </div>

    <div class="row">
      <div class="span1"> &nbsp; </div>

      <div class="span9">
        {% if profile_pic_url %}
        <img class="avatar" src="{{ profile_pic_url }}">
        {% else %}
        <img class="avatar" src="{{ STATIC_URL }}images/question_mark.png">
        {% endif %}

        {% if profile_pic_url %}
          <p>{{ doc_profile_desc }}</p>
        {% else %}
          <p>(No description available)</p>
        {% endif %}
      </div>
    </div>

    {% if jobs %}
      <div class="row">
        <div class="span1"> &nbsp; </div>
        <div class="span9">
          <h4>Selected completed works</h4>
        </div>
      </div>

      {% for job in jobs %}
      <div class="row album_link">
        <div class="span1"> &nbsp; </div>
          <div class="span9">
            <a class="link" href="{% url 'album' job.0.album.id %}">&raquo; {{ job.1 }}</a>
          </div>
      </div>
      {% endfor %}

      <div class="row">
        <div class="span1"> &nbsp; </div>
        <div class="span9">
          <p>Jobs only shown if permitted by original uploader.</p>
        </div>
      </div>
    {% endif %}


  {% endif %} {# doctor_exists #}

</div> {# '#doctor_profile' #}

{% endblock %}

{% block scripts %}
{% endblock %}

