{% extends 'base.html' %}

{% block styles %}
{# picdoctors.css already included by default #}
{% endblock %}

{% block topscripts %}
{% endblock %}

{% block main %}
<div id='job_app' class="row job_page">
         <div class="row job_header_row lead">
             <div class="span1">
                Job 
            </div>
            <div class="span2">
                Pictures
            </div>
             <div class="span2">
                Job Size
            </div>
            <div class="span3">
                Job Worth
            </div>
            <div class="span2">
               &nbsp; 
            </div>
            <div class="span2">
                Actions
            </div>
         </div>
    {% for job in job_infos %}
         <div class="row job_row fix_line_height" job_id='{{ job.job_id }}'>
             <div class="span1">
               <b><a href="/markup/{{ job.batch }}/1/">{{job.job_id|stringformat:"08d" }}</a></b>
             </div>
             <div class="span2">
                 <div id="myCarousel" class="carousel slide">
                   <!-- Carousel items -->
                   <div class="carousel-inner pic_carousel">
                     {% for pic in job.pic_thumbs %}
                     <div class="item"> 
                       <a href="/markup/{{ job.batch }}/{{ pic.1 }}/">
                         <img src="{{ pic.0 }}" alt="">
                       </a>
                     </div>
                     {% endfor %}
                </div>
            </div>
           </div>
             <div class="span2">
               {{job.output_pic_count }} output picture{{ job.output_pic_count|pluralize }}
            </div>
             <div class="span3 text-success">
               <em>${{ job.doctor_payout }} </em>
             </div>
             <div class="span2">
               &nbsp;
            </div>
             <div class="span2">
               {% if job.dynamic_actions|length > 0 %}
               <div class="btn-group dynamic_action_group">
                 
                 {% for action in job.dynamic_actions|slice:":1" %}
                 <button class="btn btn-primary dynamic_action_button" postback_url= "{{ action.url }}" >{{ action.text }}</button>
                 {% endfor %}
                 {% if job.dynamic_actions|length > 1 %}
                  <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                      <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    {% for action in job.dynamic_actions|slice:"1:" %}
                    <li><a href="#" class="dynamic_action_button" postback_url="{{action.url}}">{{ action.text }}</a></li>
                    {% endfor %}
                  </ul>
                  {% endif %}
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
  </div>
{% endblock %}

{% block scripts %}
    <script src="{{ STATIC_URL }}js/jquery-1.7.2.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/json2.js"></script>
    <script src="{{ STATIC_URL }}js/underscore.js"></script>
    <script src="{{ STATIC_URL }}js/backbone.js"></script>
    <script src="{{ STATIC_URL }}js/jobs.js"></script>
    <script>
        $(function() {
            
            $('.carousel').carousel('next');
            $('.carousel').carousel();
         });
                </script>
{% endblock %}

