{% extends 'base.html' %}

{% block main %}


<div id="doctor_profile" class="row">

  {% if not doctor_exists %}

    <div class="row">
      <div class="span2"> &nbsp; </div>
      <h2 class="text-center">Doctor profile page not found!</h2>
    </div>

  {% else %}

    <div class="row">
      <div class="span1"> &nbsp; </div>
      <div class="span8">
        <h1>{{ nickname }}</h1>
      </div>
    </div>

    <div class="row">
      <div class="span1"> &nbsp; </div>
      <div class="span3">
        <div class="picture">
          {% if profile_pic_url %}
          <img src="{{ profile_pic_url }}">
          {% else %}
          <img src="{{ STATIC_URL }}images/question_mark.png">
          {% endif %}
        </div>
      </div>
      <div class="span6">
        <p>{{ doc_profile_desc }}</p>
      </div>
    </div>

  {% endif %}

</div> {# '#doctor_profile' #}

{% endblock %}

{% block scripts %}
{% endblock %}

