{% extends 'base.html' %}

{% block main %}
<div id='doc_faq' class='row faq'>

  <h3>Frequently Asked Questions</h3>

  <div class='row'>
    <div class='span8'>
      <a class='question' href='#howdoesitwork' name='howdoesitwork'>How does it work?</a>
      <p class='answer'>
      We've got a entire page to answer that question <a href="{% url 'howitworks' %}">here</a>.
      </p>
    </div>
  </div>
  <div class='row'>
    <div class='span8'>
      <a class='question' href='#whatcanbedone' name='whatcanbedone'>What can be done?</a>
      <p class='answer'>
      The Doctors vary in skills and technical expertise.  Here are a few of the most common scenarios:
      </p>
      <ul class='answer'>
        <li>
          Photo retouch (make the picture look better)
        </li>
        <li>
          Photo enhancement (lighten a picture, darken a picture, fix the colors, etc.)
        </li>
        <li>
          Photo repair (fix the picture where it was bent/scratched)
        </li>
        <li>
          Object removal (take the squirrel out of the picture)
        </li>
        <li>
          Object insertion (add a squirrel to the picture) 
        </li>
        <li>
          Message insertion (Best friends forever!) 
        </li>
        <li>
          Best of multiple pictures (take the best of multiple pictures and make one) 
        </li>
      </ul>
      <p class='answer'>
      Don't limit yourself to this list.  Feel free to ask for your high school picture to be altered so it looks like you're flying a rocket ship.  The best part is you have nothing
      to lose.  You aren't charged until you receive the results you're looking for.
      </p>
    </div>
  </div>
  <div class='row'>
    <div class='span8'>
      <a class='question' href='#howmuch' name='howmuch'>How much does it cost?</a>
      <p class='answer'>
         This service is a name your price service.  
         There is a minimum of $5 dollars per output picture, but beside that it's up to you on how much you're willing to pay.
         If your job isn't receiving enough interest you can raise the price.  Remember, you aren't charged until you accept the doctor's work, so there is no risk involved.  Here are some possible price suggestions:
      <table class="table table-striped table-condensed">
                  
                  <thead>
                    <tr>
                      <th>Description</th>
                      <th>Price</th>
                    </tr>
                  </thead>
                  <tbody><tr>
                    <td>Simple lighting changes</td>
                    <td>$5.00</td>
                  </tr>
                  <tr>
                    <td>Complex lighting changes (recreating skin tones)</td>
                    <td>$15.00</td>
                  </tr>
                  <tr>
                    <td>Adding border</td>
                    <td>$5.00</td>
                  </tr>
                  <tr>
                    <td>Overlaying text</td>
                    <td>$5.00</td>
                  </tr>
                  <tr>
                    <td>Small object inserted into picture</td>
                    <td>$8.00</td>
                  </tr>
                  <tr>
                    <td>Large object inserted into picture</td>
                    <td>$14.00</td>
                  </tr>
                  <tr>
                    <td>Small object deletion</td>
                    <td>$15.00</td>
                  </tr>
                  <tr>
                    <td>Large object deletion</td>
                    <td>$45.00</td>
                  </tr>
                </tbody></table>
        
      </p>
    </div>
  </div>


  <div class='row'>
    <div class='span8'>
      <a class='question' href='#whocansee' name='whocansee'>Who can see my pictures?</a>
      <p class='answer'>
      At PicDoctors.com we understand how important privacy is.  When you upload your pictures they
      are visible to our Pic Doctors.  Once a Pic Doctor has taken on your job, your pictures are only
      visible to that Pic Doctor and you.
      </p>
    </div>
  </div>
  <div class='row'>
    <div class='span8'>
      <a class='question' href='#refund' name='refund'>Can I get a refund?</a>
      <p class='answer'>
      Yes!  We want you to be completely satisfied.  You can get a refund all the way until you accept
      the Doctor's work.  Once the Doctor's work has been accepted your payment is released to the
      Doctor.
      </p>
    </div>
  </div>
  <div class='row'>
    <div class='span8'>
      <a class='question' href='#communication' name='communication'>How can I communicate with the Pic Doctor?</a>
      <p class='answer'>
      Both your Pic Doctor and you can comment below the pictures,
      and your Pic Doctor will be notified.
      </p>
    </div>
  </div>
  <div class='row'>
    <div class='span8'>
      <a class='question' href='#share' name='share'>Can I share my pictures with friends and family?</a>
      <div class='answer'>
        <p>Yes!  We want you to be able to share and allow others to enjoy the work that's been done to your images.  Not only is it fun for you, but it shows off the skills of your doctor which is greatly appreciated.  By default we block your album from being viewed by anyone other than you and the Pic Doctor.  There are three places where you can make your album shareable.</p>
        <li> When you accept the doctor's work you are given the opportunity to allow your album to be shared (checkbox).</li>
        <li> From the job's page, you can choose share album. </li>
        <li> From the album page there is a link beside the social media links at the bottom of each image which will allow you to share the album</li>
        </p>
      </div>
    </div>
  </div>

{% endblock %}

{% block scripts %}
{% endblock %}

