{% extends 'base.html' %}

{% block styles %}
{# picdoctors.css already included by default #}
{% endblock %}

{% block topscripts %}
{% endblock %}

{% block main %}
<div class='row'>
  <div class="span8 accept_view offset2 well" job_id={{job_id}}>

    <legend>
      You just went pro (aka became a moderator)
    </legend>

    <div>

    </div>
    <br />
    <br />


  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ STATIC_URL }}js/json2.js"></script>
<script src="{{ STATIC_URL }}js/underscore.js"></script>
<script src="{{ STATIC_URL }}js/backbone.js"></script>
{% endblock %}

