{% extends 'base.html' %}

{% block main %}

{% if not read_only %}
{% include 'skaa_progressbar.html' %}
{% endif %}

<div id="ember-container"></div>

{% verbatim %}

<script type="text/x-handlebars" data-template-name="application">
  {{ outlet }}
</script>

<script type="text/x-handlebars" data-template-name="albums">
  {{ outlet }}
</script>

<script type="text/x-handlebars" data-template-name="album">
  {{outlet}}
</script>

<script type="text/x-handlebars" data-template-name="groups">
  {{outlet}}
</script>

<script type="text/x-handlebars" data-template-name="group">
<div class='row'>
  <div id="markup_app" class='span10'>
  {{outlet}}
  </div>
  {{ render 'markup_navigation' this.model}}
</div>
</script>

<script type="text/x-handlebars" data-template-name="markup_navigation">
  <div class='span2'>
    <!-- This '#anchor' is a hack to make sure that the div has a min width -->
    <div id="anchor" style="width:180px; height:1px;"></div>
    <!-- These buttons are slid down by js. Using 'position:fixed' breaks -->
    <!-- on narrow monitors -->
    <div id="buttons" style='position:static; width:130px; margin-left: 20px;'>
      {{#if previousGroup}}
      {{#link-to 'pics.edit' previousGroup class='btn btn-primary btn-large workflow-buttons' }}
      Previous
      {{/link-to}}
      {{else}}
        {{#link-to 'album.upload' class='btn btn-primary btn-large workflow-buttons'}}
        Upload
        {{/link-to}}
      {{/if}}

      {{#if nextGroup}}
      {{#link-to 'pics.edit' nextGroup class='btn btn-primary btn-large workflow-buttons'}}
      Next
      {{/link-to}}
      {{else}}
        {{#if isLoggedIn}}
          {{#link-to 'album.pay' class='btn btn-primary btn-large workflow-buttons'}}
          Pay
          {{/link-to}}
        {{else}}
        {{#link-to 'signinToPay' class='btn btn-primary btn-large workflow-buttons'}}
        Sign In
          {{/link-to}}
        {{/if}}
      {{/if}}
    </div>
  </div>
</script>

<script type="text/x-handlebars" data-template-name="pics">
  {{outlet}}
</script>

<script type="text/x-handlebars" data-template-name="pics/edit">
    <div id="instructions" class="well">
      <h3>
        Give some general instructions for what you'd like done
      </h3>
      <h3>
        Click and drag to add instructions for a specific area
      </h3>
    </div>

  {{#each pic in controller }}
    <div class='markup_outer'>
      {{ view Pd.EditablePicView contentBinding="pic.model"}}
      {{ partial "generalInstructions"}}
      {{ render 'editableComments' pic.markups}}
    </div>
  {{/each}}

  {{outlet}}
</script>


<script type="text/x-handlebars" data-template-name="pic_span">
  <!-- Do not, under any circumstances, change the padding or margin of  
       this .markup_pic_container or .pic unless you are 200% certain    
       that you aren't messing things up. Careful calculation of offsets 
       for drawing markups at the right location is done, and if you     
       change them, old markups might appear at the wrong spot -->
       <span class="markup_pic_container" {{bind-attr style="picStyle" uuid="uuid"}}> 
         {{#each markup in markups}}
           {{ render 'editableMarkup' markup}}
         {{/each}}
       </span>
</script>

<!-- This template is just the *style* attribute for the markup div      
 Note: if you change the border width here from 4px, you'll probably 
 want to fix the math in the *createMarkup* method in markup.js      -->
<script type="text/x-handlebars" data-template-name="editable_markup">
  <div class="markup" {{bind-attr style="markupStyleCss"}}>
  {{#if id}}
     {{ view Pd.RedXView }}
  {{/if}}
  </div> 
</script>

<script type="text/x-handlebars" data-template-name="_general_instructions">
      <div class='markup_desc_container'>
        <div class="markup_desc">
          <p class="desc_title">General instructions:</p>
          <div class="instruction">
            {{view Pd.AutoGrowTextArea class="desc" eventDelegateBinding="controller" focusOutEvent="saveMeFocus" keyUpEvent="saveMeKeyUp" valueBinding="pic.description"}}

          </div>
          <div class="imaginary_instruction_for_tour"></div>
        </div>
      </div>
</script>

<script type="text/x-handlebars" data-template-name="editable_comments">
      <div class='markup_desc_container'>
        {{#each markup in this}}
        <div class="markup_desc">
          <p class="desc_title" {{bind-attr style="descStyle"}}>{{markup.markupStyle.name}} instructions:</p>
          <div class="dyn_instruction">
            {{render 'markupDescriptionEdit' markup}}
          </div>
        </div>
        {{/each}}
      </div>
</script>

<script type="text/x-handlebars" id="markup_description_edit">
   {{view Pd.AutoGrowTextArea class="desc" focusOutEvent="saveMeFocus" keyUpEvent="saveMeKeyUp" eventDelegateBinding="controller" valueBinding="description"}}
</script>


{% endverbatim %}

{% endblock %}

{% block scripts %}

{% endblock %}

