{% extends 'base.html' %}

{% block styles %}
{# picdoctors.css already included by default #}
{% endblock %}

{% block topscripts %}
{% endblock %}

{% block main %}

<div id="howitworks">

  <div id="upload_desc" class="row">
    <div class="span4 desc">
      <h3> 1. Upload your pictures </h3>
      <p>
        Upload a single picture or a full album by dragging and dropping the files into place. If
        you'd like two or more pictures combined into a single picture, group them together.
      </p>
    </div>
    <div class="span5">
      <img src="{{ STATIC_URL }}images/upload_trio.png" alt="Upload pictures">
    </div>
  </div>

  <div id="markup_desc" class="row">
    <div class="span2"> &nbsp; </div>
    <div class="span5" style="position: relative;">
      <img src="{{ STATIC_URL }}images/gazebohug.jpg" alt="Describe retouch" >
      <div id="example_markup"></div>
    </div>
    <div class="span4 desc">
      <h3> 2. Describe the job </h3>
      <p>
        Give the Pic Doctor a description of what you'd like done to your photos. You can
        highlight particular areas with their own descriptions.
      </p>
    </div>
  </div>

  <div id="setprice_desc" class="row">
    <div class="span4 desc">
      <h3> 3. Set a price </h3>
      <p>
        You choose how much you are willing to pay for the job. We'll place a temporary hold
        on your card for your chosen amount, but we won't charge it yet. By offering more,
        you're more likely to get an experienced, trusted Pic Doctor. If nobody is willing to
        do the work for the amount you offer, we'll let you know.
      </p>
    </div>
    <div class="span5">
      <img src="{{ STATIC_URL }}images/credit_card_photo.jpg" alt="Credit card picture" >
    </div>
  </div>

  <div id="doctakesjob_desc" class="row">
    <div class="span2"> &nbsp; </div>
    <div class="span5">
      <img src="{{ STATIC_URL }}images/woman_working.jpg" alt="Doctor working" >
    </div>
    <div class="span4 desc">
      <h3> 4. A Pic Doctor accepts the job </h3>
      <p>
        Once someone accepts your job, we'll pull it from the public market while they work on it.
      </p>
    </div>
  </div>

  <div id="communicate_desc" class="row">
    <div class="span4 desc">
      <h3> 5. Communicate </h3>
      <p>
        Your Pic Doctor may have further questions or clarifications about the work that you
        would like done. We'll give you the chance to communicate, while keeping your email
        addresses confidential.
      </p>
    </div>
    <div class="span5">
      <img src="{{ STATIC_URL }}images/mailbox.jpg" alt="email picture">
    </div>
  </div>

  <div id="approve_desc" class="row">
    <div class="span2"> &nbsp; </div>
    <div class="span5">
      <img src="{{ STATIC_URL }}images/handshake.jpg" alt="handshake" >
    </div>
    <div class="span4 desc">
      <h3> 6. Approve the work </h3>
      <p>
        Once the Pic Doctor finishes, you'll get a chance to approve a watermarked version of the
        work. If you want further modifications, you can request them. If you aren't satisfied,
        you can put the job back on the public market or request a refund. <strong>You won't
        be charged unless you are satisfied.</strong>
      </p>
    </div>
  </div>

  <div id="enjoy_desc" class="row">
    <div class="span4 desc">
      <h3> 7. Enjoy your pictures </h3>
      <p>
        Once you've approved the images, you'll receive the full resolution doctored photos. They
        are totally yours now - you own the full rights to you them in any way that you wish.
      </p>
    </div>
    <div class="span5">
      <img src="{{ STATIC_URL }}images/photo_prints.jpg" alt="photo prints" >
    </div>
  </div>

</div> {# '#howitworks' #}

{% endblock %}

{% block scripts %}
<script src="{{ STATIC_URL }}js/howitworks.js"></script>
{% endblock %}

