{% extends "base.html" %}

{% block main %}
  <div id="indexapp" class="row">

    <div id="myCarousel" class="carousel slide">
      {% comment %}
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
        <li data-target="#myCarousel" data-slide-to="5"></li>
        <li data-target="#myCarousel" data-slide-to="6"></li>
      </ol>
      {% endcomment %}
      <!-- Carousel items -->
      <div class="carousel-inner">
        <div class="positioner" style="left: 570px; top: 20px;">
          <div class="hero-unit">
            <h3>Custom Retouching</h3>
            <p>Find someone to polish your memories.</p>
            <p>
              <a id="upload_button" class="btn btn-primary btn-large" href="/upload/">Upload a Picture &raquo;</a>
              <a class="btn btn-large" href="{% url 'howitworks' %}">Learn More &raquo;</a>
            </p>
          </div>
        </div>
        <div class="item">
          <div id="photo1" class="photo" >
            <div id="photo1_markup" class="positioner"></div>
          </div>
        </div>
        <div class="item">
          <div id="photo2" class="photo" > </div>
        </div>
        <div class="item">
          <div id="photo3" class="photo" >
            <div id="photo3_markup" class="positioner"></div>
          </div>
        </div>
        <div class="item">
          <div id="photo4" class="photo" > </div>
        </div>
        <div class="item">
          <div id="photo5" class="photo" >
            <div id="photo5_markup" class="positioner"></div>
          </div>
        </div>
        {# For some reason, the first transition is being toggled on #}
        {# page load, so I'm adding 'active' to the end so we start  #}
        {# on the right thing. I'd like to figure this out though... #}
        <div class="active item">
          <div id="photo6" class="photo" > </div>
        </div>
      </div>
      <!-- Carousel nav -->
      <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>

    <div class="row">
      &nbsp; {# spacing #}
    </div>

    <div class="row">
      <div class="span4">
        <img class="icon" src="{{ STATIC_URL }}images/upload.png">
        <h2>1. Upload your pics</h2>
        <p>Then describe how you want the final image to look. We make it easy to mark up and describe specific areas of your photo.</p>
      </div>
      <div class="span4">
        <img class="icon" src="{{ STATIC_URL }}images/credit_card.png">
        <h2>2. Set a price</h2>
        <p>You choose how much. We'll hold the money, but you get 100% back if you aren't satisfied with your results.</p>
      </div>
      <div class="span4">
        <img class="icon" src="{{ STATIC_URL }}images/approve.png">
        <h2>3. Approve</h2>
        <p>We let you know when your pictures are ready. If it isn't what you wanted, just ask for modifications.</p>
     </div>
    </div>

  </div>
{% endblock %}

