{% extends "base.html" %}

{% block main %}
  <div id="indexapp" class="row landing">

    <div id="myCarousel" class="carousel slide">
      {% comment %}
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
        <li data-target="#myCarousel" data-slide-to="5"></li>
        <li data-target="#myCarousel" data-slide-to="6"></li>
      </ol>
      {% endcomment %}
      <!-- Carousel items -->
      <div class="carousel-inner">
        <div class="positioner" style="left: 570px; top: 20px;">
          <div class="hero-unit">
            <h3>Custom Photo Retouching</h3>
            <p>Find someone to polish your memories.</p>
            <p>
              <a id="upload_button" class="btn btn-primary btn-large" href="/upload/">Upload a Picture &raquo;</a>
              <a class="btn btn-large" href="{% url 'howitworks' %}">Learn More &raquo;</a>
            </p>
          </div>
        </div>
        <div class="active item">
          <div id="photo1" class="photo" >
            <div id="photo1_markup" class="positioner"></div>
          </div>
        </div>
        <div class="item">
          <div id="photo2" class="photo" > </div>
        </div>
        <div class="item">
          <div id="photo3" class="photo" >
            <div id="photo3_markup" class="positioner"></div>
          </div>
        </div>
        <div class="item">
          <div id="photo4" class="photo" > </div>
        </div>
        <div class="item">
          <div id="photo5" class="photo" >
            <div id="photo5_markup" class="positioner"></div>
          </div>
        </div>
        <div class="item">
          <div id="photo6" class="photo" > </div>
        </div>
      </div>
      <!-- Carousel nav -->
      <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>

    <div class="row">
      &nbsp; {# spacing #}
    </div>

    {% include 'landing-instructions.html' %}

  </div>
{% endblock %}

