{% extends 'base.html' %}

{% block styles %}
{# picdoctors.css already included by default #}
{% endblock %}

{% block topscripts %}
{% endblock %}

{% block main %}
<div id='job_app' class="row job_page">
         <div class="row job_header_row lead">
             <div class="span2">
                 Job Number
             </div>
             <div class="span2">
                Job Size
            </div>
            <div class="span3">
                Status
            </div>
            <div class="span3">
                Actions
            </div>
            <div class="span2">
                 Contact
            </div>
         </div>
    {# for job in jobs #}
         <div class="row job_row fix_line_height">
             <div class="span2">
                 <b>030100123</b>
             </div>
             <div class="span2">
                38 Pictures ( 3 Groupings ) 
            </div>
            <div class="span3 text-info">
                <i>Waiting for a Doctor to accept the job</i>
             </div>
             <div class="span3">
                <div class="btn-group">
                    <button class="btn btn-info">Accept</button>
                    <button class="btn btn-info">Request Additional Work</button>
                </div>
            </div>
            <div class="span2">
                <div class="btn-group">
                    <button class="btn btn-info">Contact Picture Doctor</button>
                </div>
            </div>
         </div>
         <div class="row job_row fix_line_height">
             <div class="span2">
                 <b>001030123</b>
             </div>
             <div class="span2">
                2 Pictures  
            </div>
             <div class="span3 text-success">
                <em>Job in progress</em>
             </div>
             <div class="span3">
                <div class="btn-group">
                    <button class="btn btn-info">Accept</button>
                    <button class="btn btn-info">Request Additional Work</button>
                </div>
            </div>
            <div class="span2">
                <div class="btn-group">
                    <button class="btn btn-info">Contact Picture Doctor</button>
                </div>
            </div>
         </div>
         <div class="row job_row fix_line_height">
             <div class="span2">
                 <b>002033123</b>
             </div>
             <div class="span2">
                999 Pictures  
            </div>
             <div class="span3 text-error">
                <em>You are a cheap SOB</em>
             </div>
             <div class="span3">
                <div class="btn-group">
                    <button class="btn btn-info">Accept</button>
                    <button class="btn btn-info">Request Additional Work</button>
                </div>
            </div>
            <div class="span2">
                <div class="btn-group">
                    <button class="btn btn-info">Contact Picture Doctor</button>
                </div>
            </div>
         </div>
  </div>
{% endblock %}

{% block scripts %}
    <script src="{{ STATIC_URL }}js/jquery-1.7.2.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/json2.js"></script>
    <script src="{{ STATIC_URL }}js/underscore.js"></script>
    <script src="{{ STATIC_URL }}js/backbone.js"></script>
    <script src="{{ STATIC_URL }}js/job.js"></script>
{% endblock %}

