{% extends 'base.html' %}

{% block styles %}
{# picdoctors.css already included by default #}
{% endblock %}

{% block topscripts %}
{% endblock %}

{% block main %}
<div id='job_app' class="row job_page">
         <div class="row job_header_row lead">
             <div class="span1">
                Job #
            </div>
            <div class="span1">
                Pictures
            </div>
             <div class="span2">
                Job Size
            </div>
            <div class="span3">
                Status
            </div>
            <div class="span2">
                Actions
            </div>
            <div class="span2">
                Contact Doctor
            </div>
         </div>
    {% for job in job_infos %}
         <div class="row job_row fix_line_height">
             <div class="span1">
               <b><a href="/markup/{{ job.batch }}/1/">{{job.job_id}}</a></b>
             </div>
             <div class="span1">
                 <div id="myCarousel" class="carousel slide">
                   <!-- Carousel items -->
                   <div class="carousel-inner pic_carousel">
                     {% for pic in job.pic_thumbs %}
                     <div class="item"> 
                       <a href="/markup/{{ job.batch }}/{{ pic.1 }}/">
                         <img src="{{ pic.0 }}" alt="">
                       </a>
                     </div>
                     {% endfor %}
                </div>
            </div>
           </div>
             <div class="span2">
                 {{job.batch_info}}
            </div>
             <div class="span3 text-success">
                 <em>{{ job.status }}</em>
             </div>
             <div class="span2">
               <div class="btn-group">
                  <button class="btn btn-primary">Action</button>
                  <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                      <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                  </ul>
                </div>
            </div>
            <div class="span2">
                <div class="btn-group">
                    {% if job.doctor_exists %}
                    <button class="btn btn-info">Contact Picture Doctor</button>
                    {% else %}
                    Job has yet to be taken
                    {% endif %}

                </div>
            </div>
        </div>
        {% endfor %}
  </div>
{% endblock %}

{% block scripts %}
    <script src="{{ STATIC_URL }}js/jquery-1.7.2.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/json2.js"></script>
    <script src="{{ STATIC_URL }}js/underscore.js"></script>
    <script src="{{ STATIC_URL }}js/backbone.js"></script>
    <script src="{{ STATIC_URL }}js/jobs.js"></script>
    <script>
        $(function() {
            
            $('.carousel').carousel('next');
            $('.carousel').carousel();
         });
                </script>
{% endblock %}

