{% extends 'base.html' %}
{% load picdoctags %}

{% block styles %}
{# picdoctors.css already included by default #}
{% endblock %}

{% block topscripts %}
{% endblock %}

{% block main %}
  <div id='job_app' class="row job_page">
    <div id="alert_section" class="row alert_section">
      <div class="span12 alert_row lead">
      </div>
      <div class="span10 redirect_row">
      </div>
      <div class="span2 redirect_row_buttons">
      </div>
    </div>
    <div class="page-header row" style="text-align: left;">
      <div class="span7">
        <h1>{{ title }}</h1>
      </div>
      <div class="offset3 span2" style="text-align: right;">
        <div class="btn btn-info" onclick="begin_tour()">
          Help Me
        </div>
      </div>
    </div>
    <div class="row">
      <div id="col1_hook" class="span1"></div>
      <div id="col2_hook" class="span1"></div>
      <div id="col3_hook" class="span1"></div>
      <div id="col4_hook" class="span1"></div>
      <div id="col5_hook" class="span1"></div>
      <div id="col6_hook" class="span1"></div>
      <div id="col7_hook" class="span1"></div>
      <div id="col8_hook" class="span1"></div>
      <div id="col9_hook" class="span1"></div>
      <div id="col10_hook" class="span1"></div>
      <div id="col11_hook" class="span1"></div>
      <div id="col12_hook" class="span1"></div>
    </div>
    <div class="row job_header_row lead">
    {% if doc_page %}
      <div class="span1">
        Job 
      </div>
      <div class="span2">
        Pictures
      </div>
      <div class="span2">
        Job Size
      </div>
      <div class="span2">
        Job Worth
      </div>
      <div class="span3">
        Status
      </div>
      <div class="span2">
        Actions
      </div>
    {% else %}
      <div class="span1">
        Job 
      </div>
      <div class="span2">
        Pictures
      </div>
      <div class="span2">
        Job Size
      </div>
      <div class="span3">
        Status
      </div>
      <div class="span2">
        &nbsp; 
      </div>
      <div  class="span2">
        Actions
      </div>
    {% endif %}
    </div>
    <script type='application/json' class='job_infos'>
      {{job_infos_json|safe}}
    </script>
    <div id='jobs_rows'>

    </div>
        
    <div class="pagination pagination-centered">
      <ul>
        {% for i in num_pages %}
        {% if i == cur_page %}
        <li class="active"><a href="#">{{i}}</a></li>
        {% else %}
        <li ><a href="{{ reverser|dyn_url_reverse:i  }}">{{i}}</a></li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script src="{{ STATIC_URL }}js/json2.js"></script>
  <script src="{{ STATIC_URL }}js/underscore.js"></script>
  <script src="{{ STATIC_URL }}js/backbone.js"></script>
  <script src="{{ STATIC_URL }}js/jobs.js"></script>
  <script src="{{ STATIC_URL }}js/animatedcollapse.js"></script>
  <script src="{{ STATIC_URL }}js/shared.js"></script>
{% if doc_page %}
  <script src="{{ STATIC_URL }}js/job_doc_tour.js"></script>
{% else %}
  <script src="{{ STATIC_URL }}js/job_user_tour.js"></script>
{% endif %}
  <script src="{{ STATIC_URL }}tour/bootstrap-tour.js"></script>
  <script src="{{ STATIC_URL }}tour/deps/jquery.cookie.js"></script>

  <script>
    var doc_page = {{ doc_page|lower }};
    $(function() {
      $('.carousel').carousel('next');
      $('.carousel').carousel();
      animatedcollapse.addDiv('alert_section', 'hide=1,fade=1,height=70px');
      animatedcollapse.init();
    });
  </script>
  <script type="text/template" id="redirect_template">
    You will be automatically redirected to <%=view%> in <%=time_left%> second(s).  
  </script>
  <script type="text/template" id="redirect_buttons_template">
    <a href='#' class='btn-primary btn-mini' onclick='javascript:redirect_now=true;'> Go Now</a>

    <a href='#' class='btn-primary btn-mini' onclick='javascript:continue_redirect=false;'> Don't Go</a>
  </script>
  <script type="text/template" id="user_row_template">
      <div class="job_id" job_id="<%= job_id %>"></div>
      <div class="span1">
        <b><a href="<%= albumurl %>"><%= job_id.padLeft(8) %></a></b>
      </div>
      <div class="span2">
        <div id="myCarousel" class="carousel slide carousel_no_bottom_margin">
          <!-- Carousel items -->
          <div class="carousel-inner pic_carousel">
            <% _.each( pic_thumbs, function( pic ){  %>
            <div class="item"> 
              <a href="<%= pic[1]%>">
                <img src="<%= pic[0] %>" class="pic_carousel" alt="">
              </a>
            </div>
            <% }); %>
          </div>
        </div>
      </div>
      <div class="span2">
        <%=output_pic_count %> output picture<%= "".pluralize(output_pic_count) %>
      </div>
      <div class="span3 text-success">
        <em><%= status %></em>
      </div>
      <div class="span2">
        $<%= (job_worth/100).toFixed(2) %>
      </div>
      <div class="span2">
        <% if (dynamic_actions.length > 0) { %>
        <div class="btn-group dynamic_action_group">
          <% for (var i=0;i<Math.min(1,dynamic_actions.length);i++) {  %>
            <% var action = dynamic_actions[i]; %>
          <button class="btn btn-primary dynamic_action_button" postback_url= "<%= action.url %>" redir="<%= action.redir %>" ><%= action.text %></button>
          <% } %>
        <% if ( dynamic_actions.length > 1 ) { %>
          <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
          <% for (var i=1;i<dynamic_actions.length;i++) {  %>
            <% var action = dynamic_actions[i]; %>
            <li><a href="#" class="dynamic_action_button" postback_url="<%= action.url %>" redir="<%= action.redir %>" ><%= action.text %></a></li>
            <% } %>
          </ul>
          <% } %>
        </div>
        <% } %>
      </div>
  </script>
  <script type="text/template" id="doctor_row_template">
      <div class="job_id" job_id="<%= job_id %>"></div>
      <div class="span1">
        <b><a href="<%= albumurl %>"><%= job_id.padLeft(8) %></a></b>
      </div>
      <div class="span2">
        <div id="myCarousel" class="carousel slide carousel_no_bottom_margin">
          <!-- Carousel items -->
          <div class="carousel-inner pic_carousel">
            <% _.each( pic_thumbs, function( pic ){  %>
            <div class="item"> 
              <a href="<%= pic[1]%>">
                <img src="<%= pic[0] %>" class="pic_carousel" alt="">
              </a>
            </div>
            <% }); %>
          </div>
        </div>
      </div>
      <div class="span2">
        <%= output_pic_count %> output picture<%="".pluralize(output_pic_count)%>
      </div>
      <div class="span2 text-success">
        <em>Job Value: $<%= (job_worth/100).toFixed(2) %> <br /></em>
        <strong>Payout: $<%= (doctor_payout/100).toFixed(2) %> </strong>        
      </div>
      <div class="span3">
        <%= status %>
      </div>
      <div class="span2">
        <% if (dynamic_actions.length > 0) { %>
        <div class="btn-group dynamic_action_group">
          <% for (var i=0;i<Math.min(1,dynamic_actions.length);i++) {  %>
            <% var action = dynamic_actions[i]; %>
          <button class="btn btn-primary dynamic_action_button" postback_url= "<%= action.url %>" redir="<%= action.redir %>" ><%= action.text %></button>
          <% } %>
        <% if ( dynamic_actions.length > 1 ) { %>
          <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
          <% for (var i=1;i<dynamic_actions.length;i++) {  %>
            <% var action = dynamic_actions[i]; %>
            <li><a href="#" class="dynamic_action_button" postback_url="<%= action.url %>" redir="<%= action.redir %>" ><%= action.text %></a></li>
            <% } %>
          </ul>
          <% } %>
        </div>
        <% } %>
    </div>
  </script>  
{% endblock %}

