{% extends 'base.html' %}

{% block styles %}
{# picdoctors.css already included by default #}
{% endblock %}

{% block topscripts %}
{% endblock %}

{% block main %}
<div class='row'>
  <div id="markup_app" class='span10'>
    {% if pics|length > 1 %}
    <h2 style="text-align: center; color: #777;">
      These {{ pics|length }} pictures will be combined into a single final picture
    </h2>
    <h4 style="text-align: center; color: #999; margin-bottom: 40px;">
      If that's not what you wanted, you can go
      <a href="{% url upload.views.upload_page %}">back</a>
      and regroup
    </h4>
    {% endif %}
    {% for pic in pics %}
      <div class='markup_outer'>
        <span class='markup_pic_container'
              style="background: url('{{ pic.get_preview_url }}') no-repeat; width:{{ pic.preview_width }}px; height:{{ pic.preview_height }}px;"
              uuid="{{ pic.uuid }}" >
          {# Do not, under any circumstances, change the padding or margin of  #}
          {# this .markup_pic_container or .pic unless you are 200% certain    #}
          {# that you aren't messing things up. Careful calculation of offsets #}
          {# for drawing markups at the right location is done, and if you     #}
          {# change them, old markups might appear at the wrong spot           #}
        </span>
        <script type="application/json" class="preloaded_markups">
          {{ pic.get_markups_json|safe }}
        </script>
        <div class='markup_desc_container' style="width:{{ pic.preview_width }}px;">
          <div class="markup_desc">
              <p class="desc_title">General Instructions:</p>
              <div class="instruction">
                  <textarea class="desc">{{ pic.general_instructions }}</textarea>
              </div>
          </div>
        </div>
      </div>
      <br/>
      <br/>
      <br/>
    {% endfor %}
  </div>
  <div class='span2'>
    <div style='position:fixed; width:130px;'>
        <a id='next' href='{{ next_url }}' class='btn btn-primary btn-large' href='#' style='display: block; margin-top: 120px;'>Next</a>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
    {# Isotope stuff: #}
    <script src="{{ STATIC_URL }}js/jquery-1.7.2.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/json2.js"></script>
    <script src="{{ STATIC_URL }}js/underscore.js"></script>
    <script src="{{ STATIC_URL }}js/backbone.js"></script>
    <script src="{{ STATIC_URL }}js/markup.js"></script>

    {# Templates #}
    {# This template is just the *style* attribute for the markup div      #}
    {# Note: if you change the border width here from 4px, you'll probably #}
    {# want to fix the math in the *createMarkup* method in markup.js      #}
    <script type="text/template" id="markup-template-styleattr">
      left: <%= left %>; top: <%= top %>; height: <%= height %>; width: <%= width %>; border: 4px <%= color %>; border-style: <%= border_style %>;
    </script>
    {# Used to put the red X on a markup element #}
    <script type="text/template" id="markup-template-redx">
      <img class="markup-redx" src="{{ STATIC_URL }}images/redx.png">
    </script>

    {# MarkupDesc view #}
    <script type="text/template" id="markup-template-desc">
      <p class="desc_title" style="border: 4px <%= color %>; border-style: <%= border_style %>;">
        <%= color_name %>
      </p>
      <textarea class="desc" rows='2'><%= desc %></textarea>
    </script>
    
{% endblock %}

