{% extends 'base.html' %}

{% block styles %}
{# picdoctors.css already included by default #}
{% endblock %}

{% block topscripts %}
{% endblock %}

{% block main %}
<div class='row'>
  <div id="markup_app" class='span10'>
    <h2 style="text-align: center; color: #777;">
    {% if pics|length > 1 %}
      These {{ pics|length }} pictures will be combined into a single final picture
    {% else %}
      Edit the picture based on the instructions below
    {% endif %}
    </h2>
    {% for pic in doc_pics %}
    <div class='doc_pics'>
      Doctor Revision #{{pic.0}}
      <span class='doc_pic_container' style="background: url('{{pic.1.get_preview_url}}') no-repeat; width:{{pic.1.preview_width }}px; height:{{pic.1.preview_height}}px;cursor:default;display:block">
      </span>

      </div>
    {% endfor %}
    {% for pic in pics %}
      <div class='markup_outer'>
        <span class='markup_pic_container'
              style="background: url('{{ pic.get_preview_url }}') no-repeat; width:{{ pic.preview_width }}px; height:{{ pic.preview_height }}px;cursor:default;"  uuid="{{ pic.uuid }}" >
          {# Do not, under any circumstances, change the padding or margin of  #}
          {# this .markup_pic_container or .pic unless you are 200% certain    #}
          {# that you aren't messing things up. Careful calculation of offsets #}
          {# for drawing markups at the right location is done, and if you     #}
          {# change them, old markups might appear at the wrong spot           #}
        </span>
        <script type="application/json" class="preloaded_markups">
          {{ pic.get_markups_json|safe }}
        </script>
        <div class='markup_desc_container' style="width:{{ pic.preview_width }}px;">
          <div class="markup_desc">
              <p class="desc_title">General Instructions:</p>
              <div class="instruction">
                  <textarea class="desc" readonly>{{ pic.general_instructions }}</textarea>
                  
              </div>
          </div>
        </div>
      </div>
      <br/>
      <br/>
      <br/>
    {% endfor %}
  </div>
  <div class='span2'>
    {# This '#anchor' is a hack to make sure that the div has a min width #}
    <div id="anchor" style="width:180px; height:1px;"></div>
    {# These buttons are slid down by js. Using 'position:fixed' breaks #}
    {# on narrow monitors #}
    <div id="buttons" style='position:static; width:130px; margin-left: 20px;'>
      <a id='previous' href='{{ previous_url }}' class='btn btn-primary btn-large' href='#' style='display: block; margin-top: 120px;'>Previous</a>
      <a id='next' href='{{ next_url }}' class='btn btn-primary btn-large' href='#' style='display: block; margin-top: 12px;'>Next</a>
      {% if user.is_authenticated and user.get_profile.is_doctor  %}
    
      <form action="{% url doc_upload_handler %}" method="POST" enctype="multipart/form-data"> {% csrf_token %}
        <div class="btn btn-success btn-large fileupload-addbutton" style='display: block; margin-top: 12px;'>
          Upload Finished Product
          <input id="doc_file" type="file" name="doc_file">
        </div>
        <input type="hidden" value="{{ group_id }}" name="group_id" />
      </form>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
    {# Isotope stuff: #}
    <script src="{{ STATIC_URL }}js/jquery-1.7.2.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/json2.js"></script>
    <script src="{{ STATIC_URL }}js/underscore.js"></script>
    <script src="{{ STATIC_URL }}js/backbone.js"></script>
    <script src="{{ STATIC_URL }}js/markup_ro.js"></script>
    <script src="{{ STATIC_URL }}js/markup_shared.js"></script>
    {# Templates #}
    {# This template is just the *style* attribute for the markup div      #}
    {# Note: if you change the border width here from 4px, you'll probably #}
    {# want to fix the math in the *createMarkup* method in markup.js      #}
    <script type="text/template" id="markup-template-styleattr">
      left: <%= left %>; top: <%= top %>; height: <%= height %>; width: <%= width %>; border: 4px <%= color %>; border-style: <%= border_style %>;
    </script>
    {# MarkupDesc view #}
    <script type="text/template" id="markup-template-desc">
      <p class="desc_title" style="border: 4px <%= color %>; border-style: <%= border_style %>;">
        <%= color_name %>
      </p>
      <textarea class="desc" rows='2' readonly ><%= desc %></textarea>
    </script>
    
{% endblock %}

