{% extends 'base.html' %}

{% block styles %}
{# picdoctors.css already included by default #}
{% endblock %}

{% block topscripts %}
{% endblock %}

{% block main %}
<div class='row'>
  <div class="span4 offset4 well">

    <legend>
      Reset Password
    </legend>
    <form method="POST" action="" accept-charset="UTF-8">
      {% csrf_token %}
      <label>
        Enter your email address to reset your password:
        <input type="text" id="email" class="span4" name="email"
          placeholder="Email Address" value="" >
      </label>
      <button type="submit" name="submit" class="btn btn-info btn-block">Submit</button>
    </form>    
    <br/>
    {% if success %}
      <div class="alert alert-info">
        <a class="close" data-dismiss="alert" href="#">×</a>
        Your password has been reset. Please check your email.
      </div>
    {% endif %}
    {% if email_error %}
      <div class="alert alert-error">
        <a class="close" data-dismiss="alert" href="#">×</a>
        Your password could not be reset at this time, sorry!
      </div>
    {% endif %}
  </div>
</div>
{% endblock %}

{% block scripts %}
    {# Isotope stuff: #}
    <script src="{{ STATIC_URL }}js/signin.js"></script>
{% endblock %}

