{% extends 'base.html' %}

{% block styles %}
{# picdoctors.css already included by default #}
{% endblock %}

{% block topscripts %}
{% endblock %}

{% block main %}
<div id="setprice_app" class='row'>
  <div class='offset2 span8'>

    <div class="container">
      <div class="row">
        <div class="span8">

          <legend>
            {% if increase_price %}
            <h3>Increase the price for
            {% else %}
            <h3>Please set a price for 
            {% endif %}

            {% if num_pics == '1' %}
            this pic
            {% else %}
            these {{ num_pics }} pics
            {% endif %}

            {% if increase_price %}
            <br />Original price: ${{ original_price }} 
            {% endif %}

            </h3>
          </legend>
          <div class="row">

            <div class="span5"> {# Left side -- credit card info #}

              <form id="payment">
                {% csrf_token %}

                <div class="row">
                  <div class="span4">
                    <label>How much will you offer?</label>

                    <div class="input-prepend">
                      <div style="font-size:14px;width:90px">
                        <div id="price_tour_anchor"></div>
                      </div>
                      <span class="add-on">$</span>
                      <input id="price" type="text" size="20" autocomplete="off"
                      class="span1" value="" name="price" />
                      <!-- if I don't clear the input-prepend ruins the popup -->
                        <br/>
                    </div>
                    <p id="min-price-msg" class="label label-important" style="display:none;">
                        You must offer at least ${{ min_price }} (${{ min_price_per_pic }} per picture)
                    </p>

                  </div>
                </div>

                {% if credit_cards|length > 0 %}
                  <p style="margin-bottom:0px">Choose a credit card:</p>
                {% endif %}

                {% for card in credit_cards %}
                <div class="card_choice span4">
                  <input class="radio existing" type="radio" name="card_radio_group" value="myval"
                  {% if forloop.first %}
                    checked
                  {% endif %}
                  >
                  <div>{{ card.brand }}</div>
                  <div>XXXX-XXXX-XXXX-{{ card.last_four }}</div>
                  <div>Exp: {{ card.expiration_month }}/{{ card.expiration_year }}</div>
                  <div class='uri' style='display:none;'>{{ card.uri }}</div>
                </div>
                {% endfor %}
                
                {# Enter a card #}
                <div class="card_choice new_card span4">

                  {% if credit_cards|length > 0 %}
                    <input class="radio" type="radio" name="card_radio_group" value="myval">
                  {% endif %}
                  <p>Create a new card</p>
                  <div class="row">
                    <div id="card_div" class="span2">
                      <label for="card_number">Card Number:</label>
                      <input type="text" name="card_number"><br/>
                      <p id="error_card" class="label label-important balanced_error" style="display:none;">Invalid card number</p>
                    </div>
                  </div>

                  <div class="row">
                    <div class="span2">
                      <label for="expiration_month">Expiration:</label>
                      <input type="text" name="expiration_month" class="span1" > /
                      <input type="text" name="expiration_year"  class="span1" >
                    </div>
                    <div class="span1">
                      <label for="security_code">CCV2:</label>
                      <input type="text" name="security_code" class="span1" >
                    </div>
                    <div class="span3">
                      <p id="error_exp" class="label label-important balanced_error" style="display:none;">Invalid expiration date</p>
                      <p id="error_seccode" class="label label-important balanced_error" style="display:none;">Invalid security code</p>
                      <p id="error_400" class="label label-important balanced_error" style="display:none;">Your card information is wrong.</p>
                      <p id="error_402" class="label label-important balanced_error" style="display:none;">Your card could not be authorized.</p>
                      <p id="error_404" class="label label-important balanced_error" style="display:none;">The marketplace could not be reached.</p>
                    </div>
                  </div>
                </div> {# credit card .card_choice #}

                {# Submit button #}
                <div class="row">
                  <div class="span3"> {# we need nested divs for css to not go riley on us #}
                    <button id="submit_payment" type="submit" class="submit-button btn btn-primary">Submit Payment</button>
                    <div onclick="begin_tour()" class="btn btn-info">Help Me</div>
                  </div>
                </div>

              </form>

              {% if not request.IS_PRODUCTION %}
              <div class="row" style="background-color:#FFD8B5;">
                <div class="span5">
                  Test Credit Cards:<br/>
                  <button id="btn-visa" type="submit" class="btn btn-info">Visa</button>
                  <button id="btn-amex" type="submit" class="btn btn-warning">AMEX</button>
                  <button id="btn-mastercard" type="submit" class="btn btn-danger">Mastercard</button>
                </div>
              </div>
              {% endif %}

            </div> {# Left side span5 #}

            {# Right side -- suggested pricing #}
            <div class="span3">
              <a id="suggestions" href="#" data-toggle="collapse" data-target="#pricing-table-container">
                Want suggestions?
              </a>
 
              <div id="pricing-table-container" class="collapse">

                <table class="table table-striped table-condensed">
                  <caption>Suggested prices for a single picture</caption>
                  <thead>
                    <tr>
                      <th>Description</th>
                      <th>Price</th>
                    </tr>
                  </thead>
                  <tr>
                    <td>Simple lighting changes</td>
                    <td>$2.00</td>
                  </tr>
                  <tr>
                    <td>Adding border</td>
                    <td>$2.00</td>
                  </tr>
                  <tr>
                    <td>Overlaying text</td>
                    <td>$3.00</td>
                  </tr>
                  <tr>
                    <td>Small object inserted into picture</td>
                    <td>$8.00</td>
                  </tr>
                  <tr>
                    <td>Large object inserted into picture</td>
                    <td>$14.00</td>
                  </tr>
                  <tr>
                    <td>Small object deletion</td>
                    <td>$15.00</td>
                  </tr>
                  <tr>
                    <td>Large object deletion</td>
                    <td>$45.00</td>
                  </tr>
                </table>
              </div> {# pricing-table-container #}
            </div>   {# right side span3        #}
          </div>     {# row                     #}

        </div>       {# span8                   #}
      </div>         {# row                     #}
      {% comment %}
      This was useful for seeing the JS values returned
      from balanced. Maybe it'll be useful again someday
      <div class="row">
        <div id="result">
          Results go here <br/>
        </div>
      </div>
      {% endcomment %}
    </div>           {# container               #}

  </div>
  <div class='span2'>&nbsp;</div>
</div>
{% endblock %}

{% block scripts %}
    {# Isotope stuff: #}
    <script type="text/javascript" src="https://js.balancedpayments.com/v1/balanced.js"></script>
    <script type="text/javascript">
      var minimum_price = {{ min_price }};
      var marketplace_uri = '{{ marketplace_uri }}';
    </script>
    <script src="{{ STATIC_URL }}js/setprice_tour.js"></script>
    <script src="{{ STATIC_URL }}tour/bootstrap-tour.js"></script>
    <script src="{{ STATIC_URL }}tour/deps/jquery.cookie.js"></script>
    <script src="{{STATIC_URL}}js/set_price.js"></script>
    {% if not request.IS_PRODUCTION %}
    {# This file will be in the directory in production, but nobody should #}
    {# see it. Even if someone found it, these cards won't work in production #}
    <script src="{{STATIC_URL}}js/set_price_debugcards.js"></script>
    {% endif %}
{% endblock %}

