{% extends 'base.html' %}

{% block styles %}
{# picdoctors.css already included by default #}
{% endblock %}

{% block topscripts %}
{% endblock %}

{% block main %}
<div class='row'>
  {# Uhh, there's a space here because without it, the div collapses. Whatever. #}
  <div class='span2'>&nbsp;</div>
  <div class='span8'>

    <div class="container">
      <div class="row">
        <div class="span4 offset1 well">

          <legend>
            {% if usertype == "doc" %}
              Doctor Sign In
            {% else %}
              Please Sign In
            {% endif %}
          </legend>
          {% if bad_email_or_password %}
            <div class="alert alert-error">
              <a class="close" data-dismiss="alert" href="#">×</a>Incorrect email or password!
            </div>
          {% endif %}
          {% if passwords_didnt_match %}
            <div class="alert alert-error">
              <a class="close" data-dismiss="alert" href="#">×</a>Passwords did not match!
            </div>
          {% endif %}
          {% if email_already_exists %}
            <div class="alert alert-error">
              <a class="close" data-dismiss="alert" href="#">×</a>That email has already been
              registered with a different password.
            </div>
          {% endif %}
          <form method="POST" action="" accept-charset="UTF-8">
            {% csrf_token %}
            <input type="hidden" style="display:none;" name="usertype" value="{{ usertype }}">

            <label class="radio">
              <input type="radio" name="create_acct_radio" id="create" value="create" checked>
              Create a new account
            </label>
            <label class="radio">
              <input type="radio" name="create_acct_radio" id="have" value="have">
              I already have an account
            </label>
            <input type="text" id="email" class="span4" name="email"
              placeholder="Email Address" value="{{ email }}" >
            <input type="password" id="password" class="span4" name="password" placeholder="Password">
            <input type="password" id="confirm_password" class="span4" name="confirm_password"
              placeholder="Confirm Password">
            <label class="checkbox">
              <input type="checkbox" id="remember" name="remember" value="1" checked>Remember Me
            </label>
            <button type="submit" name="submit" class="btn btn-info btn-block">Sign in</button>
          </form>    

        </div>
      </div>
    </div>

  </div>
  <div class='span2'>&nbsp;</div>
</div>
{% endblock %}

{% block scripts %}
    {# Isotope stuff: #}
    <script src="{{ STATIC_URL }}js/jquery-1.7.2.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/signin.js"></script>
{% endblock %}

