{% extends 'base.html' %}

{% block main %}

{% if show_progressbar %}
{% include 'progressbar.html' %}
{% endif %}

<div class='row'>
  <div class="span4 offset4 well">

    <legend>
      {% if usertype == "doc" %}
        Doctor Sign In
      {% else %}
        Please Sign In
      {% endif %}
    </legend>
    {% if bad_email_or_password %}
      <div class="alert alert-error">
        <a class="close" data-dismiss="alert" href="#">×</a>
        Incorrect email or password!
      </div>
    {% endif %}
    {% if passwords_didnt_match %}
      <div class="alert alert-error">
        <a class="close" data-dismiss="alert" href="#">×</a>
        Passwords did not match!
      </div>
    {% endif %}
    {% if password_invalid%}
      <div class="alert alert-error">
        <a class="close" data-dismiss="alert" href="#">×</a>
        Password must be at least 8 characters long!
      </div>
    {% endif %}
    {% if email_already_exists %}
      <div class="alert alert-error">
        <a class="close" data-dismiss="alert" href="#">×</a>
        That email has already been registered with a different password.
      </div>
    {% endif %}
    {% if invalid_nick %}
      <div class="alert alert-error">
        <a class="close" data-dismiss="alert" href="#">×</a>
        That nickname has already been taken, or is invalid.
      </div>
    {% endif %}

    {% if need_tos %}
      <div class="alert alert-error">
        <a class="close" data-dismiss="alert" href="#">×</a>
        You must agree to the Terms of Service
      </div>
    {% endif %}
    <form method="POST" action="" accept-charset="UTF-8">
      {% csrf_token %}
      <input type="hidden" style="display:none;" name="usertype" value="{{ usertype }}">

      <label class="radio">
        <input type="radio" name="create_acct_radio" id="create" value="create" {{create_checked}}>
        Create a new account
      </label>
      <label class="radio">
        <input type="radio" name="create_acct_radio" id="have" value="have" {{have_checked}}>
        I already have an account
      </label>
      <input type="text" id="email" class="span4" name="email"
        placeholder="Email Address" value="{{ email }}" >
      <p class="text-warning" id="nickname-info">Your nickname will be visible to others</p>
      <input type="text" id="nickname" class="span4" name="nickname"
        placeholder="Nickname" value="{{ nickname }}" >
      <p class="text-warning">Your password must be at least 8 characters</p>
      <input type="password" id="password" class="span4" name="password" placeholder="Password">
      <input type="password" id="confirm_password" class="span4" name="confirm_password"
        placeholder="Confirm Password">
      <label class="checkbox" id="tos">
        <input type="checkbox" id="agree_tos" name="agree_tos" value="1" checked>
        I agree to the Terms of Service
      </label>
      <label class="checkbox">
        <input type="checkbox" id="remember" name="remember" value="1" checked>
        Remember Me
      </label>
      <div id="nickErrorParent" class="alert alert-error" style="display:none">
        <a class="close" data-dismiss="alert" href="#">×</a>
        <div id="nickError"></div>
      </div>
      <button id="btnsubmit" type="submit" name="submit" class="btn btn-info btn-block">Sign in</button>
    </form>    
    <a href="/reset_password/" style="position: relative; left: 165px;">Forgot your password?</a>

  </div>
</div>
{% endblock %}

