<div class="row progressbar">

  <div class="{{ upload_progress }}">
    <div class="{{ arrowclass }} nav_arrow span2">
      <div class="txt">
        Upload Pics
      </div>
    </div>
  </div>

  <div class="{{ markup_progress }}">
    <div class="{{ arrowclass }} nav_arrow span2">
      <div class="txt">
        Describe
      </div>
    </div>
  </div>

  {% if show_login %}
  <div class="{{ signin_progress }}">
    <div class="{{ arrowclass }} nav_arrow span2">
      <div class="txt">
        Sign In
      </div>
    </div>
  </div>
  {% endif %}

  <div class="{{ setprice_progress }}">
    <div class="{{ arrowclass }} nav_arrow span2">
      <div class="txt">
       Submit Offer 
      </div>
    </div>
  </div>

</div>
