                <table class="table table-striped table-condensed">
                  <h4 id="table_header">Suggested prices for a single picture</h4>
                  <thead>
                    <tr>
                      <th>Description</th>
                      <th>Price</th>
                    </tr>
                  </thead>
                  <tr>
                    <td>Simple lighting changes</td>
                    <td>$5.00</td>
                  </tr>
                  <tr>
                    <td>Complex lighting changes (recreating skin tones)</td>
                    <td>$15.00</td>
                  </tr>
                  <tr>
                    <td>Adding border</td>
                    <td>$5.00</td>
                  </tr>
                  <tr>
                    <td>Overlaying text</td>
                    <td>$5.00</td>
                  </tr>
                  <tr>
                    <td>Small object inserted into picture</td>
                    <td>$8.00</td>
                  </tr>
                  <tr>
                    <td>Large object inserted into picture</td>
                    <td>$14.00</td>
                  </tr>
                  <tr>
                    <td>Small object deletion</td>
                    <td>$15.00</td>
                  </tr>
                  <tr>
                    <td>Large object deletion</td>
                    <td>$45.00</td>
                  </tr>
                </table>
