{% extends 'base.html' %}

{% block styles %}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/isotope.css" />
{% endblock %}

{% block main %}
<div class="row">
  <div class="span10">
    <div id="fileupload">
      <div id="isocontainer" class="fileupload-content files">
        {% if pics|length == 0 %}
          <div class="instructions">
            <h2>Drag pictures here</h2>
            <h4>Or click "Add Pictures" on the right</h4>
          </div>
        {% else %}
          {% for pic in pics %}
            {# These are hidden and unhidden after isotope has run #}
            {% if pic.browser_group_id %}
              <div class="pic_container" style="display:none;" group_id="{{ pic.browser_group_id }}" uuid="{{ pic.uuid }}">
            {% else %}
              <div class="pic_container" style="display:none;" group_id="{{ ungroupedId }}" uuid="{{ pic.uuid }}">
            {% endif %}
              <div class="contents">
                <div class="preview">
                  <img src="{{pic.get_thumb_url}}">
                </div>
                <img class="del_pic" src="/static/images/redx.png"/>
              </div>
            </div>
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
  <div class="span2 fileupload-buttonbar">
    <div style="position:fixed; width:200px;">

      <form id="upload_form" action="{% url 'upload_handler' %}" method="POST" enctype="multipart/form-data"> {% csrf_token %}
        <div class="btn btn-primary btn-large fileupload-addbutton">
          Add Pictures
          <input id='fileinput' type="file" name="files[]" multiple >
        </div>
        <div id="group" class="btn btn-primary btn-large" href="#" style="display : block; margin-top: 12px;">Group</div>
        <div id="upload_tour" class="btn btn-info btn-large" style="display : block;margin-top:12px;">Help Me</div>
        <a id="next" href="/markup/1/" class="btn btn-primary btn-large disabled" href="#" style="display: block; margin-top: 120px;">Next</a>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
  {% verbatim %}
    <script id="template-upload" type="text/x-jquery-tmpl">
      <div class="pic_container{{if error}} upload_error{{/if}}" group_id="100000">
        <div class="contents">
          <div class="preview"></div>
          <div class="pic_info">
            <span>${name}</span><span>${sizef}</span>
          </div>
          {{if error}}
          <div class="error" colspan="2">Error:
            {{if error === 'maxFileSize'}}File is too big
            {{else error === 'minFileSize'}}File is too small
            {{else error === 'acceptFileTypes'}}Filetype not allowed
            {{else error === 'maxNumberOfFiles'}}Max number of files exceeded
            {{else}}${error}
            {{/if}}
          </div>
          {{else}}
          <div style="position: relative; margin: -18px 6px -11px;">
            <div class="progress" style="height: 6px;">
              <div class="bar" style="width: 0%; -moz-border-radius: inherit; -webkit-border-radius: inherit; border-radius: inherit;"></div>
            </div>
          </div>
          {{/if}}
          <img class="del_pic" src="/static/images/redx.png"/>
        </div>
      </div>
    </script>
    <script id="template-download" type="text/x-jquery-tmpl">
      <div class="pic_container{{if error}} upload_error{{/if}}" group_id="100000" uuid="${uuid}">
        <div class="contents">
          <div class="preview">
            {{if thumbnail_url}}
              <img src="${thumbnail_url}">
            {{/if}}
          </div>
          <div class="pic_info">
            <span>${name}</span><span>${sizef}</span>
          </div>
          {{if error}}
            <div class="error" colspan="2">Error:
              {{if error === 1}}File exceeds upload_max_filesize (php.ini directive)
              {{else error === 2}}File exceeds MAX_FILE_SIZE (HTML form directive)
              {{else error === 3}}File was only partially uploaded
              {{else error === 4}}No File was uploaded
              {{else error === 5}}Missing a temporary folder
              {{else error === 6}}Failed to write file to disk
              {{else error === 7}}File upload stopped by extension
              {{else error === 'maxFileSize'}}File is too big
              {{else error === 'minFileSize'}}File is too small
              {{else error === 'acceptFileTypes'}}Filetype not allowed
              {{else error === 'maxNumberOfFiles'}}Max number of files exceeded
              {{else error === 'uploadedBytes'}}Uploaded bytes exceed file size
              {{else error === 'emptyResult'}}Empty file upload result
              {{else}}${error}
              {{/if}}
            </div>
          {{else}}


          {{/if}}
          <img class="del_pic" src="/static/images/redx.png"/>
        </div>
      </div>
    </script>
  {% endverbatim %}
{% endblock %}

