{% extends 'base.html' %}

{% load picdoctags %}

{% block styles %}
{# picdoctors.css already included by default #}
{% endblock %}

{% block topscripts %}
{% endblock %}

{% block main %}
<div class='row'>
  {# Uhh, there's a space here because without it, the div collapses. Whatever. #}
  <div class='span9 offset1'>
    {% if transfer_complete %}
      <div class="alert alert-success">
        <button class="close" data-dismiss="alert">×</button>
        Congratulations! You've successfully withdrawn {{ amount|currency_cents }}. It should be there in 2 business days.
        {# TODO - fetch it? (see balanced ticket 2524) #}
      </div>
    {% else %} {% if not valid %}
      <div class="row">
        <p>You can't withdraw right now. Please ensure that you have a valid
          <a href="{% url 'account_settings' %}#bank_tab">bank account</a> and
          <a href="{% url 'account_settings' %}#merchant_tab">merchant information.</a>
        </p>
      </div>
    {% else %} {% if balance >= minimum_withdraw %}

      <div class="row">
        <div class="span3"> &nbsp; </div>
        <div class="span2 text-center"> <strong>Date</strong> </div>
        <div class="span2 text-center"> <strong>Earnings</strong> </div>
      </div>
      {% for row in rows %}
        <div class="row" style="padding:5px;">
          <div class="span3">
            <a href="{{ row.album_url }}">
              <img src="{{ row.album_img_url }}">
            </a>
          </div>
          <div class="span2 text-center">
            {{ row.date|date:"d M Y" }}
          </div>
          <div class="span2 text-center">
            {{ row.doc_earnings|currency_cents }}
          </div>
        </div>
      {% endfor %}
      <div class="row" style="padding:5px;">
        <div class="span3"> &nbsp; </div>
        <div class="span2 text-center"> <strong>Total:</strong> </div>
        <div class="span2 text-center"> <strong>{{ balance|currency_dollars }}</strong> </div>
      </div>

      <div class="row">
        <form method="POST" class="span3">
          {% csrf_token %}
          <button type="submit" name="submit" class="btn btn-primary btn-block">Withdraw {{ balance|currency_dollars }}</button>
        </form>
      </div>
      <div class="row">
        <div class="span5">
          <p>This will be tranferred to your <a href="{% url 'account_settings' %}#bank_tab">bank account</a></p>
        </div>
      </div>

    {% else %}
      <h4> Available balance: {{ balance|currency_dollars }} </h4>
      <h4>Sorry! You can't withdraw less than {{ minimum_withdraw|currency_dollars }}!</h4>
    {% endif %} {% endif %} {% endif %}

  </div>
</div> {# 'row' #}

{% endblock %}

{% block scripts %}
{% endblock %}

